<template>
  <div>
    <ul class="menu-nav">
      <router-link
        to="/dashboard"
        v-slot="{ href, navigate, isActive, isExactActive }"
        v-for="item in generateMenu" :key="item.function_id"
      >
        <li
          aria-haspopup="true"
          data-menu-toggle="hover"
          class="menu-item"
          :class="[
            isActive && 'menu-item-active',
            isExactActive && 'menu-item-active'
          ]"
          v-if="item.function_parent === 0 && item.function_controller !== '#'"
          @click="handler_key(item.function_id)"
        >
          <a :href="href" class="menu-link" @click="navigate">
            <i :class="item.function_icon"></i>
            <span class="menu-text">{{item.function_name}}</span>
          </a>
        </li>
      </router-link>
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item menu-item-submenu"
        v-bind:class="{
          'menu-item-open': hasActiveChildren('/'+items.function_link)
        }"
        v-for="items in generateMenu" :key="items.function_id+'/'+items.function_parent"
      >
        <a 
          href="#" 
          class="menu-link menu-toggle"
          v-if="items.function_controller === '#'"
        >
          <i :class="items.function_icon"></i>
          <span class="menu-text"> {{items.function_name}} </span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu menu-submenu-classic menu-submenu-right">
          <ul class="menu-subnav">
            <router-link
              :to="'/'+items.function_link+'/'+items_child.function_controller"
              v-slot="{ href, navigate, isActive, isExactActive }"
              v-for="items_child in generateMenu" :key="items_child.function_id"
            >
              <li
                aria-haspopup="true"
                data-menu-toggle="hover"
                class="menu-item"
                :class="[
                  isActive && 'menu-item-active',
                  isExactActive && 'menu-item-active'
                ]"
                v-if="items_child.function_parent !== 0 && items_child.function_parent === items.function_id"
                @click="handler_key(items_child.function_id)"
              >
                <a :href="href" class="menu-link" @click="navigate">
                  <!-- <i class="menu-bullet menu-bullet-dot"><span></span></i> -->
                  <i :class="items_child.function_icon"></i>
                  <span class="menu-text"> {{items_child.function_name}} </span>
                </a>
              </li>
            </router-link>
          </ul>
        </div>
      </li>
    </ul>
    <!-- <p style="color:white">{{generateMenu}}</p> -->
  </div>
</template>

<script>
export default {
  name: "KTMenu",
  methods: {
    hasActiveChildren(match) {
      return this.$route["path"].indexOf(match) !== -1;
    },
    handler_key(function_id){
      // console.log(function_id);
      localStorage.p_function_id = function_id;
    }
  },
  computed: {
    generateMenu() {
      var menu_parse = JSON.parse(localStorage.p_function);
      return (menu_parse);
    }
  }
};
</script>