<template>
  <div id="app" data-app>
    <loading :active="isLoading" :can-cancel="true" :is-full-page="fullPage" />
    <div class="row">
      <div class="col-md-12">
        <div class="card card-custom gutter-b">
          <div
            class="card-body"
            v-bind:class="{
              bodyClass,
              'body-fit': bodyFit,
              'body-fluid': bodyFluid,
            }"
          >
            <slot name="body"></slot>
            <div class="container">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-model="search"
                    label="Nama Kriteria"
                    autofocus
                  ></v-text-field>
                </v-col>
              </v-row>
            </div>

            <div class="text-right">
              <v-btn
                v-for="items in function_feature"
                :key="items.feature_id"
                class="mr-2 initial-page-button"
                small
                v-on:click="btn_handler(items.feature_element)"
                :style="items.feature_element_class"
              >
                <v-icon left>{{ items.feature_element_icon }}</v-icon>
                {{ items.feature_name }}
              </v-btn>
              <v-btn
                class="mr-2 initial-page-button"
                small
                style="background-color: #237ad9; color: white"
                @click="getData"
              >
                <v-icon left>mdi-magnify</v-icon> Cari
              </v-btn>
              <v-btn
                class="mr-2 initial-page-button"
                small
                style="background-color: #bde6f1; color: #000"
                @click="clear"
              >
                <v-icon left>mdi-cached</v-icon>
                Bersihkan
              </v-btn>
            </div>
            <hr />
            <template>
              <v-card>
                <v-data-table
                  :headers="v_headers"
                  :items="v_items"
                  :options.sync="v_options"
                  :server-items-length="v_totalItems"
                  :footer-props="{
                    showFirstLastPage: true,
                    firstIcon: 'mdi-skip-backward',
                    lastIcon: 'mdi-skip-forward',
                    prevIcon: 'mdi-skip-previous',
                    nextIcon: 'mdi-skip-next',
                  }"
                  :items-per-page="10"
                  class="elevation-1"
                  item-key="criteria_id"
                  no-data-text="Tidak ada data."
                >
                </v-data-table>
              </v-card>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.v-data-table {
  line-height: 1.2 !important;
}
.v-data-table >>> thead {
  font-size: 0.8 !important;
  background-color: #ccd0dd !important;
}
.v-input >>> .v-label {
  font-size: 12px !important;
  line-height: 10px !important;
}
.v-text-field {
  padding-top: 0px !important;
  margin-top: 14px !important;
}
.v-text-field >>> input {
  padding: 0px 0px 6px !important;
  line-height: 10px !important;
  font-size: 12px !important;
}
.v-text-field >>> .v-label {
  font-size: 12px !important;
  font-weight: bold !important;
}
.v-input {
  font-size: 12px !important;
}
.v-input >>> .v-label {
  font-size: 12px !important;
  line-height: 10px !important;
}
.theme--light >>> .v-messages {
  color: red !important;
}

@media (max-width: 768px) {
  .initial-page-button {
    width: 100%;
    margin-top: 5px;
  }
}
</style>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
import { create } from "apisauce";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "criteria",
  data() {
    return {
      toast: null,
      isLoading: false,
      fullPage: true,

      search: "",
      v_options: {},
      v_totalItems: 0,
      v_headers: [
        {
          text: "Nama Kriteria",
          align: "left",
          sortable: true,
          value: "criteria_name",
        },
        {
          text: "Deskripsi Kriteria",
          align: "left",
          sortable: true,
          value: "criteria_desc",
        },
        {
          text: "Bobot Kriteria",
          align: "right",
          sortable: true,
          value: "criteria_score",
        },
      ],
      v_items: [],

      function_feature: [],
    };
  },
  watch: {
    v_options: {
      handler() {
        this.getData();
      },
      deep: true,
    },
  },
  async mounted() {
    this.toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener("mouseenter", Swal.stopTimer);
        toast.addEventListener("mouseleave", Swal.resumeTimer);
      },
    });
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Master", route: "criteria" },
      { title: "Kriteria" },
    ]);
    this.getAuthModule();
    this.getFunctionFeature();
  },
  methods: {
    btn_handler(function_element) {
      if (function_element == "btn_edit") {
        this.btn_edit();
      }
    },

    btn_edit() {
      this.$router.push({
        path:
          "/masterdata/criteria/store/",
      });
    },

    clear() {
      this.search = "";
      this.getData();
    },

    async getData() {
      this.isLoading = true;

      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });

      await apiSauce
        .get("/criteria/paged", {
          sizePerPage: this.v_options.itemsPerPage,
          page: this.v_options.page,
          sortField: this.v_options.sortBy[0],
          sortOrder: this.v_options.sortDesc[0] ? "DESC" : "ASC",
          search: this.search,
          company_id: localStorage.p_company_id,
        })
        .then((response) => response.data)
        .then((response) => {
          this.isLoading = false;
          if (response.code == 200) {
            this.v_items = response.data;
            this.v_totalItems = response.total;
          } else if (response.code == 406) {
            Swal.fire({
              title: response.title,
              text: response.message,
              icon: response.icon,
              heightAuto: false,
            });
            localStorage.id_token = "";
            this.$router.push("/login");
          } else {
            console.log("err");
          }
        });
    },

    async getFunctionFeature() {
      this.isLoading = true;

      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });

      setTimeout(() => {
        apiSauce
          .get("/functionfeature", {
            role_id: localStorage.p_role_id,
            function_id: localStorage.p_function_id,
            company_id: localStorage.p_company_id
          })
          .then((response) => response.data)
          .then((response) => {
            this.isLoading = false;
            if (response.code == 200) {
              // console.log(response)
              this.function_feature = response.data;
            } else if (response.code == 406) {
              Swal.fire({
                title: response.title,
                text: response.message,
                icon: response.icon,
                heightAuto: false,
              });
              localStorage.id_token = "";
              this.$router.push("/login");
            } else {
              console.log("err");
            }
          });
      }, 100);
    },

    async getAuthModule() {
      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });
      await apiSauce
        .post("/authModule", {
          controller: "criteria",
          role_id: localStorage.p_role_id,
          company_id: localStorage.p_company_id,
        })
        .then((response) => response.data)
        .then((response) => {
          this.isLoading = false;
          if (response.code !== 200) {
            Swal.fire({
              title: "Unauthorized",
              text: "Dont have access this page!",
              icon: "error",
              heightAuto: false,
            });
            this.$router.push("/404");
          }
        });
    },
  },
  props: {
    bodyClass: String,
    bodyFit: Boolean,
    bodyFluid: Boolean,
  },
  components: {
    Loading,
  },
  computed: {
  },
};
</script>
