/* eslint-disable prettier/prettier */
<template>
  <div data-app>
    <!-- LOADER -->
    <loading :active="isLoading" :can-cancel="true" :is-full-page="fullPage" />
    <!-- END LOADER -->

    <div class="row">
      <div class="col-md-12">
        <div class="card card-custom gutter-b">
          <div
            class="card-body"
            v-bind:class="{
              bodyClass,
              'body-fit': bodyFit,
              'body-fluid': bodyFluid,
            }"
          >
            <slot name="body"></slot>
            <v-form ref="form" lazy-validation>
              <v-row>
                <v-col cols="12" md="8">
                  <v-data-table
                    :headers="v_headers"
                    :items="v_items"
                    no-data-text="Tidak ada data."
                    class="elevation-1"
                    hide-default-footer
                  >
                    <template v-slot:[`item.criteria_score`]="props">
                      <vue-autonumeric
                        style="
                          font-size: 12px;
                          padding: 5px;
                          cursor: pointer;
                          width: 100%;
                          text-align: right;
                        "
                        v-model="props.item.criteria_score"
                        tag="div"
                        :options="{
                          digitGroupSeparator: '.',
                          decimalCharacter: ',',
                          minimumValue: '0',
                          maximumValue: '100',
                          currencySymbol: '',
                          allowDecimalPadding: false,
                        }"
                      >
                      </vue-autonumeric>
                    </template>
                    <template v-slot:[`item.criteria_desc`]="props">
                      <v-textarea
                        clear-icon="mdi-close-circle"
                        :counter="255"
                        :rules="form_requirement.criteriaDescRules"
                        v-model="props.item.criteria_desc"
                        rows="2"
                      >
                      </v-textarea>
                    </template>
                    <template v-slot:[`item.criteria_name`]="props">
                      <v-text-field
                        v-model="props.item.criteria_name"
                        :counter="100"
                        :rules="form_requirement.criteriaNameRules"
                      ></v-text-field>
                    </template>
                    <template v-slot:[`item.action`]="item">
                      <v-btn
                        v-on:click="removeRow(item)"
                        color="primary"
                        elevation="5"
                        small
                      >
                        <v-icon small style="color: red">fa-trash</v-icon>
                      </v-btn>
                    </template>
                  </v-data-table>
                  <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                      <v-text-field
                        v-model="total_score"
                        :rules="form_requirement.totalCriteria"
                        readonly
                        label="Total Bobot"
                      ></v-text-field>
                    </div>
                  </div>
                </v-col>
              </v-row>
              <v-btn
                class="my-4"
                small
                v-on:click="addRow()"
                style="background-color: #0d417a; color: white"
              >
                <v-icon left>mdi-plus</v-icon> Tambah
              </v-btn>
              <br />

              <v-btn
                class="mr-4"
                small
                v-on:click="store()"
                style="background-color: #0d417a; color: white"
              >
                <v-icon left>mdi-content-save</v-icon> Simpan
              </v-btn>
              <v-btn
                class="mr-4"
                small
                v-on:click="cancelstore()"
                style="background-color: white; color: black"
              >
                <v-icon left>mdi-close</v-icon> Batal
              </v-btn>
            </v-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.righted-input >>> input {
  text-align: right;
}

.v-data-table {
  line-height: 1.2 !important;
}
.v-data-table >>> thead {
  font-size: 0.8 !important;
  background-color: #ccd0dd !important;
}
.v-input >>> .v-label {
  font-size: 12px !important;
  line-height: 10px !important;
}
.v-text-field {
  padding-top: 0px !important;
  margin-top: 14px !important;
}
.v-text-field >>> input {
  padding: 0px 0px 6px !important;
  line-height: 10px !important;
  font-size: 12px !important;
}
.v-text-field >>> .v-label {
  font-size: 12px !important;
  font-weight: bold !important;
}
.v-input {
  font-size: 12px !important;
}
.v-input >>> .v-label {
  font-size: 12px !important;
  line-height: 10px !important;
}
.theme--light >>> .v-messages {
  color: red !important;
}

@media (max-width: 768px) {
  .initial-page-button {
    width: 100%;
    margin-top: 5px;
  }
}
</style>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
import { create } from "apisauce";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import VueAutonumeric from "../../../../../src/components/VueAutonumeric.vue";

export default {
  name: "criteria_store",
  data() {
    return {
      toast: null,
      state: "",
      header_state: "",
      total_score: "",
      isLoading: false,
      fullPage: true,
      isDisabled: false,

      form_requirement: {
        criteriaNameRules: [
          (v) => !!v || "Nama Kriteria harus diisi.",
          (v) =>
            (v && v.length <= 100) ||
            "Nama Kriteria tidak boleh lebih dari 100 karakter.",
        ],
        criteriaDescRules: [(v) =>
            v.length <= 255 ||
            "Deskripsi Kriteria tidak boleh lebih dari 255 karakter."],
        criteriaValueRules: [(v) => !!v || "Bobot Kriteria harus diisi."],
        totalCriteria: [(v) => !!v || "Total Bobot harus diisi.", (v) => (v.toString() == "100" || "Total Bobot harus berjumlah 100.")],
      },

      v_items: [],
      v_headers: [
        {
          text: "Nama Kriteria",
          align: "start",
          sortable: false,
          value: "criteria_name",
        },
        {
          text: "Deskripsi Kriteria",
          align: "center",
          sortable: false,
          value: "criteria_desc",
        },
        {
          text: "Bobot Kriteria",
          align: "right",
          sortable: false,
          value: "criteria_score",
        },
        {
          text: "Aksi",
          align: "center",
          sortable: false,
          value: "action",
          width: "50px",
        },
      ],
    };
  },
  watch: {
    "v_items": {
      handler: function () {
        this.calculateTotal();
      },
      deep: true,
    },
  },
  async mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Master" },
      { title: "Kriteria", route: "/master/criteria" },
      { title:  "Ubah Kriteria"},
    ]);
    this.toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener("mouseenter", Swal.stopTimer);
        toast.addEventListener("mouseleave", Swal.resumeTimer);
      },
    });
    this.getAllCriteria();
    this.getAuthModule();
  },
  methods: {
    async getAllCriteria() {
      this.isLoading = true;
      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });
      await apiSauce
        .get("/criteria/getAll", {
          company_id: localStorage.p_company_id
        })
        .then((response) => response.data)
        .then((response) => {
          if (response.code == 200) {

            this.v_items = response.data;
          } else if (response.code == 406) {
            Swal.fire({
              title: "Error",
              text: response.message,
              icon: "error",
              heightAuto: false,
            });
            localStorage.id_token = "";
            this.$router.push("/login");
          } else {
            console.log("err");
          }

          this.isLoading = false;
        });
    },

    calculateTotal() {
      var totalScore = 0
      this.v_items.forEach((element) => {
        totalScore += parseFloat(element.criteria_score);
      });

      this.total_score = parseFloat(totalScore);

    },

    async store() {
      
      if (this.$refs.form.validate()) {
        Swal.fire({
          title: "Konfirmasi",
          text: "Apakah anda yakin ingin menyimpan data? Kriteria & Penilaian sebelumnya akan menjadi tidak valid.",
          icon: "warning",
          showCancelButton: true,
          cancelButtonText: "Tutup",
          confirmButtonText: "Simpan",
        }).then((result) => {
          if (result.isConfirmed) {
            this.confirmStore();
          }
        });
      }
    },

    async confirmStore() {
      this.isLoading = true;
      if (this.$refs.form.validate()) {
          // this.isLoading = true;
        const apiSauce = create({
          baseURL: this.$base_url,
          headers: {
            "Access-Control-Allow-Origin": "*",
            "Content-Type":
              "multipart/form-data; charset=utf-8; boundary=" +
              Math.random().toString().substr(2),
            Authorization: "Bearer " + localStorage.id_token,
          },
        });

        const criteriaItems = [];

        this.v_items.forEach((item) => {
          if (item.criteria_name) {
            criteriaItems.push({
              criteria_name: item.criteria_name,
              criteria_desc: item.criteria_desc,
              criteria_score: item.criteria_score,
            });
          }
        });

        if (criteriaItems.length == 0) {
          Swal.fire({
            title: "Peringatan",
            text: "Harap isi satu atau lebih kriteria",
            icon: "error",
            heightAuto: false,
          });
        } else {
          let formData = new FormData();

          formData.append("criteria_item", JSON.stringify(criteriaItems));
          formData.append("created_by", localStorage.p_username);
          formData.append("company_id", localStorage.p_company_id);

          await apiSauce
            .post("/criteria/update", formData)
            .then((response) => response.data)
            .then((response) => {
              this.isLoading = false;
              Swal.fire({
                title: response.title,
                text: response.message,
                icon: response.icon,
                heightAuto: false,
              });
              if (response.code == 200) {
                this.$router.push({ path: "/masterdata/criteria" });
              } else if (response.code == 406) {
                localStorage.id_token = "";
                this.$router.push("/login");
              } else {
                console.log("err");
              }
            });
        }
      }

      this.isLoading = false;
    },

    cancelstore() {
      this.$router.push({ path: "/masterdata/criteria/" });
    },
    addRow() {
      this.v_items.push({
        criteria_nm: "",
        criteria_desc: "",
        criteria_score: 0,
      });
    },

    removeRow(item) {
      Swal.fire({
        title: "Konfirmasi",
        text: "Apakah anda yakin ingin menghapus data ini?",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Tutup",
        confirmButtonText: "Hapus",
      }).then((result) => {
        if (result.isConfirmed) {
          this.v_items.splice(item.index, 1);
        }
      });
    },

    async getAuthModule() {
      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });
      await apiSauce
        .post("/authModule", {
          controller: "criteria",
          role_id: localStorage.p_role_id,
          company_id: localStorage.p_company_id
        })
        .then((response) => response.data)
        .then((response) => {
          this.isLoading = false;
          if (response.code !== 200) {
            Swal.fire({
              title: "Unauthorized",
              text: "Dont have access this page!",
              icon: "error",
              heightAuto: false,
            });
            this.$router.push("/404");
          }
        });
    },

    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}-${month}-${year}`;
    },
  },
  props: {
    bodyClass: String,
    bodyFit: Boolean,
    bodyFluid: Boolean,
  },
  components: {
    Loading,
    VueAutonumeric,
    // KTCodePreview
  },
  computed: {
  },
};
</script>
