<template>
  <div class="d-flex flex-column flex-root">
    <div
      class="login login-1 d-flex flex-column flex-lg-row flex-column-fluid bg-white"
      :class="{
        'login-signin-on': this.state == 'signin',
        'login-signup-on': this.state == 'signup',
        'login-forgot-on': this.state == 'forgot'
      }"
      id="kt_login"
    >
      <!--begin::Aside-->
      <div
        class="login-aside d-flex flex-column flex-row-auto"
        style="background-color: #aed1f5;"
      >
        <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
          <h3
            class="font-weight-bolder text-center font-size-h4 font-size-h1-lg"
            style="color: #0d427a;"
          >
            Discover Amazing Decision <br />With Great Application!
          </h3>
        </div>
        <div
          class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center"
          :style="{ backgroundImage: `url(${backgroundImage})` }"
        ></div>
      </div>
      <!--begin::Aside-->
      <!--begin::Content-->
      <div
        class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto"
      >
        <div class="d-flex flex-column-fluid flex-center">
          <!--begin::Signin-->
          <div class="login-form login-signin">
            <form
              class="form"
              novalidate="novalidate"
              id="kt_login_signin_form"
            >
              <div class="pb-13 pt-lg-0 pt-5">
                <h3
                  class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg"
                >
                  Selamat Datang di SISPENKEP!
                </h3>
                <span class="text-muted font-weight-bold font-size-h4"
                  >Pengguna Baru?
                  <a
                    id="kt_login_signup"
                    style="cursor:pointer;"
                    class="text-primary font-weight-bolder"
                    @click="showForm('signup')"
                    >Buat Akun Sekarang!</a
                  ></span
                >
              </div>
              <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark"
                  >Username</label
                >
                <div
                  id="example-input-group-1"
                  label=""
                  label-for="example-input-1"
                >
                  <input
                    class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
                    type="text"
                    name="email"
                    ref="email"
                    value=""
                    v-model="form.email"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-between mt-n5">
                  <label class="font-size-h6 font-weight-bolder text-dark pt-5"
                    >Password</label
                  >
                  <!-- <a
                    class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5"
                    id="kt_login_forgot"
                    @click="showForm('forgot')"
                    >Forgot Password ?</a
                  > -->
                </div>
                <div
                  id="example-input-group-2"
                  label=""
                  label-for="example-input-2"
                >
                  <input
                    class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
                    type="password"
                    name="password"
                    value=""
                    v-model="form.password"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="pb-lg-0 pb-5">
                <button
                  ref="kt_login_signin_submit"
                  class="btn btn-primary font-weight-bolder font-size-h6 px-15 py-4 my-3 mr-3"
                  v-on:click="authlogin()"
                >
                  Masuk
                </button>
                <!-- <button
                  type="button"
                  class="btn btn-light-primary font-weight-bolder px-8 py-4 my-3 font-size-lg"
                >
                  <span class="svg-icon svg-icon-md">
                    <inline-svg
                      src="media/svg/social-icons/google.svg"
                    /> </span
                  >Sign in with Google
                </button> -->
              </div>
            </form>
          </div>
          <!--end::Signin-->
          <!--begin::Signup-->
          <div class="login-form login-signup">
            <form
              class="form"
              novalidate="novalidate"
              id="kt_login_signup_form"
            >
              <div class="pb-13 pt-lg-0 pt-5">
                <h3
                  class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg"
                >
                  Daftar SISPENKEP
                </h3>
                <p class="text-muted font-weight-bold font-size-h4">
                  Harap lengkapi form untuk membuat akun.
                </p>
              </div>
              <div class="form-group">
                <input
                  class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                  type="text"
                  placeholder="Nama Lengkap"
                  name="full_name"
                  ref="full_name"
                  autocomplete="off"
                  v-model="userForm.full_name"
                  :rules="form_requirement.fullNameRules"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                  type="email"
                  placeholder="Email"
                  name="user_email"
                  v-model="userForm.user_email"
                  :rules="form_requirement.emailRules"
                  ref="remail"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                  type="text"
                  placeholder="Username"
                  name="username"
                  ref="username"
                  v-model="userForm.username"
                  :rules="form_requirement.usernameRules"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                  type="password"
                  placeholder="Password"
                  name="password"
                  ref="rpassword"
                  v-model="userForm.password"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                  type="password"
                  placeholder="Konfirmasi password"
                  name="cpassword"
                  v-model="userForm.c_password"
                  ref="cpassword"
                  autocomplete="off"
                />
              </div>
              <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
                <button
                  ref="kt_login_user_submit"
                  class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
                  style="width:150px;"
                  @click="onNext()"
                >
                  Next
                </button>
                <button
                  type="button"
                  id="kt_login_signup_cancel"
                  class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
                  @click="showForm('signin')"
                >
                  Kembali
                </button>
              </div>
            </form>
          </div>
          <!--end::Signup-->
          <!--begin::Forgot-->
          <div class="login-form login-forgot">
            <!--begin::Form-->
            <form
              class="form"
              novalidate="novalidate"
              id="kt_login_forgot_form"
              ref="kt_login_forgot_form"
            >
              <div class="pb-13 pt-lg-0 pt-5">
                <h3
                  class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg"
                >
                  Daftar SISPENKEP
                </h3>
                <p class="text-muted font-weight-bold font-size-h4">
                  Harap lengkapi form untuk membuat akun.
                </p>
              </div>
              <div class="form-group">
                <input
                  class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                  type="text"
                  placeholder="Nama Usaha"
                  :rules="form_requirement.companyNameRules"
                  name="company_name"
                  ref="company_name"
                  autocomplete="off"
                  v-model="userForm.company_name"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                  type="text"
                  placeholder="Alamat Usaha"
                  name="company_address"
                  ref="company_address"
                  autocomplete="off"
                  :rules="form_requirement.companyAddressRules"
                  v-model="userForm.company_address"
                />
              </div>
              
              <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
                <button
                  ref="kt_login_company_submit"
                  class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
                  style="width:150px;"
                  @click="signUp()"
                >
                  Daftar
                </button>
                <button
                  type="button"
                  id="kt_login_signup_cancel"
                  class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
                  @click="showForm('signup')"
                >
                  Kembali
                </button>
              </div>
            </form>
          </div>
          <!--end::Forgot-->
        </div>
        <!--begin::Content footer-->
        <!-- <div
          class="d-flex justify-content-lg-start justify-content-center align-items-end py-7 py-lg-0"
        >
          <a href="#" class="text-primary font-weight-bolder font-size-h5"
            >Terms</a
          >
          <a href="#" class="text-primary ml-10 font-weight-bolder font-size-h5"
            >Plans</a
          >
          <a href="#" class="text-primary ml-10 font-weight-bolder font-size-h5"
            >Contact Us</a
          >
        </div> -->
        <!--end::Content footer-->
      </div>
      <!--end::Content-->
    </div>
  </div>
</template>

<!-- Load login custom page styles -->
<style lang="scss">
@import "@/assets/sass/pages/login/login-1.scss";
</style>

<script>
import formValidation from "@/assets/plugins/formvalidation/dist/es6/core/Core";

// FormValidation plugins
import Trigger from "@/assets/plugins/formvalidation/dist/es6/plugins/Trigger";
import Bootstrap from "@/assets/plugins/formvalidation/dist/es6/plugins/Bootstrap";
import SubmitButton from "@/assets/plugins/formvalidation/dist/es6/plugins/SubmitButton";

import KTUtil from "@/assets/js/components/util";
import { mapGetters, mapState } from "vuex";
import { LOGIN, LOGOUT } from "@/core/services/store/auth.module";
import { UPDATE_PERSONAL_INFO } from "@/core/services/store/profile.module";
import Swal from "sweetalert2";
// import { create } from "apisauce";
import ApiSauceService from "@/core/services/apiSauce.service";

export default {
  name: "login-1",
  data() {
    return {
      state: "signin",
      isValid: true,
      // Remove this dummy login info
      form: {
        email: "",
        password: ""
      },

      userForm: {
        username: "",
        password: "",
        c_password: "",
        user_email: "",
        full_name: "",
        company_name: "",
        company_address: "",
      },

      form_requirement: {
        fullNameRules: [
            v => !!v || "Nama Lengkap harus diisi",
            v => (v.length <= 100) || "Nama Pengguna tidak boleh lebih dari 100 karakter."
        ],
        usernameRules: [
            v => !!v || "Nama Pengguna harus diisi",
            v => (v.length <= 100) || "Nama Pengguna tidak boleh lebih dari 100 karakter."
        ],
        emailRules: [
            v => !!v || "Surel harus diisi",
            v => /.+@.+\..+/.test(v) || "Surel tidak sesuai dengan format.",
            v => (v.length <= 100) || "Surel tidak boleh lebih dari 100 karakter."
        ],
        companyAddressRules: [
          v => !!v || "Alamat Usaha harus diisi",
          v => (v.length <= 255) || "Alamat Usaha tidak boleh lebih dari 255 karakter"
        ],
        companyNameRules: [
          v => !!v || "Nama Usaha harus diisi",
          v => (v.length <= 255) || "Alamat Usaha tidak boleh lebih dari 100 karakter"
        ],
      },
    };
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors
    }),
    ...mapGetters(["currentUser"]),

    backgroundImage() {
      return (
        process.env.BASE_URL + "media/svg/illustrations/login-visual-2.svg"
        // process.env.BASE_URL + ""
      );
    }
  },
  mounted() {
    const signin_form = KTUtil.getById("kt_login_signin_form");
    const signup_form = KTUtil.getById("kt_login_signup_form");
    const forgot_form = KTUtil.getById("kt_login_forgot_form");

    this.fv = formValidation(signin_form, {
      fields: {
        email: {
          validators: {
            notEmpty: {
              message: "Username harus diisi."
            }
          }
        },
        password: {
          validators: {
            notEmpty: {
              message: "Password harus diisi."
            }
          }
        }
      },
      plugins: {
        trigger: new Trigger(),
        submitButton: new SubmitButton(),
        bootstrap: new Bootstrap()
      }
    });

    this.fv1 = formValidation(signup_form, {
      fields: {
        full_name: {
          validators: {
            notEmpty: {
              message: "Nama Lengkap harus diisi."
            },
            stringLength: {
              max: 100,
              message: 'Nama Lengkap tidak boleh lebih dari 100 karakter.',
            },
          }
        },
        username: {
          validators: {
            notEmpty: {
              message: "Username harus diisi."
            },
            stringLength: {
              max: 100,
              message: 'Username tidak boleh lebih dari 100 karakter.',
            },
          }
        },
        user_email: {
          validators: {
            notEmpty: {
              message: "Email harus diisi."
            },
            emailAddress: {
              message: "Alamat email tidak valid."
            },
            stringLength: {
              max: 100,
              message: 'Alamat email tidak boleh lebih dari 100 karakter.',
            },
          }
        },
        password: {
          validators: {
            notEmpty: {
              message: "Password harus diisi."
            }
          }
        },
        cpassword: {
          validators: {
            notEmpty: {
              message: "Konfirmasi password harus diisi."
            },
            identical: {
              compare: function() {
                return signup_form.querySelector('[name="password"]').value;
              },
              message: "Password Konfirmasi tidak cocok."
            }
          }
        },
      },
      plugins: {
        trigger: new Trigger(),
        submitButton: new SubmitButton(),
        bootstrap: new Bootstrap()
      }
    });

    this.fv2 = formValidation(forgot_form, {
      fields: {
        company_name: {
          validators: {
            notEmpty: {
              message: "Nama Usaha harus diisi."
            },
            stringLength: {
              max: 100,
              message: 'Nama Usaha tidak boleh lebih dari 100 karakter.',
            },
          }
        },
        company_address: {
          validators: {
            notEmpty: {
              message: "Alamat Usaha harus diisi."
            },
            stringLength: {
              max: 255,
              message: 'Alamat Usaha tidak boleh lebih dari 255 karakter.',
            },
          }
        }
      },
      plugins: {
        trigger: new Trigger(),
        submitButton: new SubmitButton(),
        bootstrap: new Bootstrap()
      }
    });

    this.fv.on("core.form.valid", () => {
      // clear existing errors
      this.$store.dispatch(LOGOUT);

      // set spinner to submit button
      const submitButton = this.$refs["kt_login_signin_submit"];
      submitButton.classList.add("spinner", "spinner-light", "spinner-right");

      setTimeout(() => {
        submitButton.classList.remove(
          "spinner",
          "spinner-light",
          "spinner-right"
        );
      }, 3000);
    });

    // this.fv.on("core.form.invalid", () => {
    //   Swal.fire({
    //     title: "",
    //     text: "Please, provide correct data!",
    //     icon: "error",
    //     confirmButtonClass: "btn btn-secondary",
    //     heightAuto: false
    //   });
    // });

    // this.fv1.on("core.form.valid", () => {
    //   const email = this.$refs.remail.value;
    //   const password = this.$refs.rpassword.value;

    //   // clear existing errors
    //   this.$store.dispatch(LOGOUT);

    //   // set spinner to submit button
    //   const submitButton = this.$refs["kt_login_signup_submit"];
    //   submitButton.classList.add("spinner", "spinner-light", "spinner-right");

    //   // dummy delay
    //   setTimeout(() => {
    //     // send register request
    //     this.$store
    //       .dispatch(REGISTER, {
    //         email: email,
    //         password: password
    //       })
    //       .then(() => this.$router.push({ name: "dashboard" }));

    //     submitButton.classList.remove(
    //       "spinner",
    //       "spinner-light",
    //       "spinner-right"
    //     );
    //   }, 2000);
    // });

    this.fv1.on("core.form.invalid", () => {
      Swal.fire({
        title: "",
        text: "Please, provide correct data!",
        icon: "error",
        confirmButtonClass: "btn btn-secondary",
        heightAuto: false
      });
    });
  },
  methods: {
    resetForm() {
      this.userForm = {
        username: "",
        password: "",
        c_password: "",
        user_email: "",
        full_name: "",
        company_name: "",
        company_address: "",
      }
    },
    onNext() {
      this.fv1.on("core.form.invalid", () => {
      Swal.fire({
        title: "",
        text: "Harap isi form dengan benar!",
        icon: "error",
        confirmButtonClass: "btn btn-secondary",
        heightAuto: false
      });
        return;
      });

      this.fv1.on("core.form.valid", () => {
        this.showForm('forgot');
      });

      
    
    },

    showForm(form) {
      this.state = form;
      var form_name = "kt_login_" + form + "_form";
      KTUtil.animateClass(
        KTUtil.getById(form_name),
        "animate__animated animate__backInUp"
      );
    },

    async signUp() {
      this.isValid = true;
      this.fv2.on("core.form.invalid", () => {
      Swal.fire({
        title: "",
        text: "Harap isi form dengan benar!",
        icon: "error",
        confirmButtonClass: "btn btn-secondary",
        heightAuto: false
      });
        this.isValid = false;
      });

      if(this.userForm.username!= "" &&
        this.userForm.password!= "" &&
        this.userForm.c_password!= "" &&
        this.userForm.full_name!= "" &&
        this.userForm.company_name!= "" &&
        this.userForm.company_address != "") {
          this.authRegister();
        }

      // if (this.isValid) {
        
      // }

    },

    async authRegister() {
      const submitButton = this.$refs["kt_login_company_submit"];
      submitButton.classList.add("spinner", "spinner-light", "spinner-right");
      
      await ApiSauceService.init()
        .post("/register", this.userForm)
        .then(response => response.data)
        .then(response => {
          if (response.code == 200) {
            
            submitButton.classList.remove(
                "spinner",
                "spinner-light",
                "spinner-right"
              );

              Swal.fire({
                title: "Sukses",
                text: response.message,
                icon: "success",
                heightAuto: false
              });

            this.showForm('signin');
            this.resetForm();
          }
          else 
            // console.log(response);
            // alert(response.message);
            Swal.fire({
                title: "Error",
                text: response.message,
                icon: "error",
                heightAuto: false
              });

              submitButton.classList.remove(
                "spinner",
                "spinner-light",
                "spinner-right"
              );
      });
      },
    async authlogin() {
      var email = this.form.email;
      var password = this.form.password;

      const submitButton = this.$refs["kt_login_company_submit"];
      submitButton.classList.add("spinner", "spinner-light", "spinner-right");

      // clear existing errors
      this.$store.dispatch(LOGOUT);


      await ApiSauceService.init()
        .post("/login", { username: email, password: password })
        .then(response => response.data)
        .then(response => {
          if (response.status){
                        
            // console.log(response);
            // console.log(response.function);
        
            localStorage.p_name = response.data.username;
            localStorage.p_company_id = response.data.company_id;
            localStorage.p_username = response.data.username;
            localStorage.p_email = response.data.user_email;
            localStorage.p_full_name = response.data.full_name;
            localStorage.p_adress = response.data.address;
            localStorage.p_phone = response.data.phone;            
            localStorage.p_role_id = response.role[0].role_id;
            localStorage.p_role = response.role[0].role_name;
            localStorage.p_function = JSON.stringify(response.function);

            var name = response.data.username;
            var surname = response.data.full_name;
            var company_name = localStorage.p_role;
            var phone = response.data.phone;
            var email = response.data.email;
            var company_site = "";
            var photo = "media/users/blank_blue.png";

            this.$store.dispatch(UPDATE_PERSONAL_INFO, {
              name,
              surname,
              company_name,
              phone,
              email,
              company_site,
              photo
            });

            setTimeout(() => {
              // console.log('Login Successfully!');
              var token_id = response.data.token_id;

              // send register request
              this.$store
                .dispatch(LOGIN, { email, password, token_id, response })
                // go to which page after successfully login
                .then(() => this.$router.push({ name: "dashboard" }))
                .catch(() => {});
              submitButton.classList.remove(
                "spinner",
                "spinner-light",
                "spinner-right"
              );
            }, 5000);
          }
          else 
            // console.log(response);
            // alert(response.message);
            setTimeout(() => {
              Swal.fire({
                title: "Error",
                text: response.message,
                icon: "error",
                heightAuto: false
              });
              submitButton.classList.remove(
                "spinner",
                "spinner-light",
                "spinner-right"
              );
            }, 1000);
      });
    }
  }
};
</script>
