<template>
  <div>
    <!--begin::Dashboard-->
    <div class="row">
     </div>
    <!--end::Dashboard-->
  </div>
</template>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";

// import ApiSauceService from "@/core/services/apiSauce.service";

export default {
  name: "dashboard",
  components: {},
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: "Dasbor" }]);
    if (!localStorage.id_token) {
      this.$router.push({ path: '/login' })
      
    }
    localStorage.p_username
  },
  methods: {
    
  }
};
</script>
