<template>
  <div data-app>
    <!-- LOADER -->
     <loading 
      :active="isLoading"
      :can-cancel="true"
      :is-full-page="fullPage"/>
    <!-- END LOADER -->

    <div class="row">
      <div class="col-md-12">
        <div class="card card-custom gutter-b">
            <div class="card-body" v-bind:class="{ bodyClass,'body-fit': bodyFit, 'body-fluid': bodyFluid }">
              <slot name="body"></slot>
              <v-form ref="form" lazy-validation>
              <div class="col-md-6">
                <v-text-field
                :counter="18"
                :rules="[]"
                v-model="role_id"
                style="display:none;"
              ></v-text-field>
              <v-text-field
                :counter="100"
                :rules="form_requirement.roleNameRules"
                :autofocus="true"
                label="Nama Peran"
                v-model="role_name"
                required
              ><template #label>Nama Peran <span class="required">*</span></template></v-text-field>
              <v-text-field
                :counter="255"
                :rules="form_requirement.roleDescRules"
                :autofocus="true"
                label="Deskripsi Peran"
                v-model="role_desc"
                required
              ><template #label>Deskripsi Peran</template></v-text-field>
              </div>
              <br/>

              <v-btn class="mr-4" small v-on:click="rolestore()" style="background-color:#0d417a; color:white;">
                  <v-icon left>mdi-content-save</v-icon> Simpan
              </v-btn>
              <v-btn class="mr-4" small v-on:click="cancelstore()" style="background-color:white; color:black;">
                <v-icon left>mdi-close</v-icon> Batal
              </v-btn>
            </v-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
  .v-input >>> .v-label {
    font-size: 12px !important;
    line-height: 10px !important;
  }
  .v-text-field{
    padding-top: 0px !important;
    margin-top: 14px !important;
  }
  .v-text-field >>> input{
    padding: 0px 0px 6px !important;
    line-height: 10px !important;
    font-size: 12px !important;
  }
  .v-text-field >>> .v-label {
    font-size: 12px !important;
    font-weight: bold !important;
  }
  .v-input {
    font-size: 12px !important;
  }
  .v-input >>> .v-label {
    font-size: 12px !important;
    line-height: 10px !important;
  }
  .theme--light >>> .v-messages {
    color:red !important;
  }

  @media (max-width: 768px) {
    .initial-page-button {
        width:100%;
        margin-top: 5px;
    }
  }
</style>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
import { create } from "apisauce";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: "store",
   data () {
    return {
        state: '',
        header_state: '',
        toast: null,
        isLoading: false,
        fullPage: true,      
        role_id: '',
        role_name: '',
        role_desc: '',
        is_active: '',

        form_requirement: {
            roleNameRules: [
                v => !!v || "Nama Peran harus diisi.",
                v => (v && v.length <= 100) || "Karakter Nama Peran tidak boleh lebih dari 100 karakter."
            ],
            roleDescRules: [
                v => (v.length <= 255) || "Karakter Deskripsi Peran tidak boleh lebih dari 255 karakter."
            ],
        },
    }
  },  
  async mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Manajemen Pengguna", route: "" },
      { title: "Peran", route: "/usermanagement/role" },
      { title: this.$route.params.id ? "Ubah Peran" : "Buat Peran" },
    ]);

    this.toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener("mouseenter", Swal.stopTimer);
        toast.addEventListener("mouseleave", Swal.resumeTimer);
      },
    });

    const theArray = this.$route.query.data;
    // console.log(theArray)
    if(typeof theArray === 'undefined' || theArray === '[object Object]') {
        // console.log('CREATE');
        this.state = "CREATE";
        this.header_state = "Buat ";
        this.isusernameDisabled = false;
    }else{
        this.state = "EDIT";
        this.header_state = "Ubah ";
        this.role_id = theArray.role_id;
        this.role_name = theArray.role_name;
        this.role_desc = theArray.role_desc;
    }
  },
  methods: {
    async rolestore(){
    // console.log(this.$refs.form.validate())
    // if (this.$refs.form.validate() === false) {
    if(
        this.role_name === '' 
    ){
        this.$refs.form.validate();
        this.snackbar = true;
    }else if(this.$refs.form.validate() == true){
        this.isLoading = true;
        const apiSauce = create({
            baseURL: this.$base_url,
            headers: {
                "Access-Control-Allow-Origin": "*",
                "Content-Type": "application/json;charset",
                'Authorization': 'Bearer ' + localStorage.id_token
            },
        });
        if(this.state === "CREATE"){
            await apiSauce
            .post("/rolecreate", 
            {
                role_name: this.role_name,
                role_desc: this.role_desc,
                role_id: this.role_id,
                created_by: localStorage.p_username,
                company_id: localStorage.p_company_id,
            })
            .then(response => response.data)
            .then(response => {
                Swal.fire({
                  title: response.title,
                  text: response.message,
                  icon: response.icon,
                  heightAuto: false,
                });
                this.isLoading = false;
                if(response.code == 200){
                    // console.log(response)
                    this.$router.push({ path: '/usermanagement/role' })
                }else if(response.code == 406){                
                    localStorage.id_token = "";
                    this.$router.push('/login');
                }else{
                    console.log('err')
                }                
            });
        }else{
            await apiSauce
            .post("/roleupdate", 
            { 
                role_name: this.role_name,
                role_id: this.role_id,
                role_desc: this.role_desc,
                created_by: localStorage.p_username,
                company_id: localStorage.p_company_id,
            })
            .then(response => response.data)
            .then(response => {
                this.isLoading = false;
                Swal.fire({
                  title: response.title,
                  text: response.message,
                  icon: response.icon,
                  heightAuto: false,
                });
                if(response.code == 200){
                    // console.log(response)
                    this.$router.push({ path: '/usermanagement/role' })
                }else if(response.code == 406){                
                    localStorage.id_token = "";
                    this.$router.push('/login');
                }else{
                    console.log('err')
                }                
            });
        }
    } else {
      this.toast.fire({
        icon: 'error',
        title: "Periksa kembali data yang diisikan",
      });
    }
    },
    cancelstore(){
    this.$router.push({ path: '/usermanagement/role' })
    }
  },
  props: {
      bodyClass: String,
      bodyFit: Boolean,
      bodyFluid: Boolean,
  },
  components: {
    Loading,
    // KTCodePreview
  },
  computed :{
    
  },
};
</script>
