<template>
  <div id="app">
    <!-- LOADER -->
    <loading :active="isLoading" :can-cancel="true" :is-full-page="fullPage" />
    <!-- END LOADER -->
    <div class="row">
      <div class="col-md-12">
        <div class="card card-custom gutter-b">
          <!-- <div class="card-header">
            <div class="card-title">
              <slot name="title"></slot>
              <h3 class="card-label">Master Hak Akses</h3>
            </div>
            <div class="card-toolbar">
              <slot name="toolbar"></slot>
            </div>
          </div> -->
          <div
            class="card-body"
            v-bind:class="{
              bodyClass,
              'body-fit': bodyFit,
              'body-fluid': bodyFluid,
            }"
          >
            <slot name="body"></slot>
            <v-alert
              type="warning"
              style="background-color: #f5b14c"
              v-model="alert"
              border="bottom"
              elevation="2"
            >
              {{ alert_name }}
            </v-alert>
            <template>
              <v-card>
                <v-card-title>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="search"
                    @blur="getData"
                    append-icon="mdi-magnify"
                    label="Cari"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>

                <!-- Render Headers Datatable -->
                <v-data-table
                  data-app
                  :headers="v_headers"
                  :options.sync="v_options"
                  :server-items-length="v_totalItems"
                  :items="v_items"
                  :footer-props="{
                    showFirstLastPage: true,
                    firstIcon: 'mdi-skip-backward',
                    lastIcon: 'mdi-skip-forward',
                    prevIcon: 'mdi-skip-previous',
                    nextIcon: 'mdi-skip-next',
                  }"
                  :items-per-page="10"
                  :value="selectedRows"
                  class="elevation-1"
                  item-key="role_id"
                  show-expand
                  :single-expand="true"
                  :expanded.sync="headersExpand"
                  v-model="selected"
                  @item-expanded="showDetails"
                >
                  <!-- Change Rendered item.assign -->
                  <template v-slot:[`item.assign`]="{ item }">
                    <div class="align-self-center">
                      <v-btn
                        color="primary"
                        elevation="5"
                        small
                        class=""
                        @click="showFunctionModal(item.role_id)"
                        justify="center"
                      >
                        <v-icon small style="color: blue">fa-edit</v-icon>
                      </v-btn>
                    </div>
                  </template>

                  <!-- Render on-expanded item -->
                  <template v-slot:expanded-item>
                    <td :colspan="8">
                      <v-content>
                        <v-container fluid fill-height>
                          <v-layout child-flex>
                            <v-card>
                              <v-card-title>
                                <v-spacer></v-spacer>
                                <v-text-field
                                  v-model="detailSearch"
                                  append-icon="mdi-magnify"
                                  label="Cari"
                                  single-line
                                  hide-details
                                ></v-text-field>
                              </v-card-title>

                              <!-- Render Detail Datatable -->
                              <v-data-table
                                data-app
                                :headers="v_headers_detail"
                                :items="v_items_detail"
                                hide-default-footer
                                disable-pagination
                                :value="detailSelectedRows"
                                class="elevation-1"
                                item-key="function_id"
                                :search="detailSearch"
                                v-model="detailSelected"
                                no-data-text="Tidak ada data."
                              >
                                <!-- Change Rendered item.action -->
                                <template v-slot:[`item.action`]="{ item }">
                                  <div class="align-self-center">
                                    <v-btn
                                      color="primary"
                                      elevation="5"
                                      small
                                      class="mr-2"
                                      @click="
                                        editHandler(
                                          item.role_id,
                                          item.function_id
                                        )
                                      "
                                    >
                                      <v-icon small style="color: blue"
                                        >fa-edit</v-icon
                                      >
                                    </v-btn>
                                    <v-btn
                                      color="primary"
                                      elevation="5"
                                      small
                                      class=""
                                      @click="
                                        confirmRemoveFunction(
                                          item.role_id,
                                          item.function_id
                                        )
                                      "
                                    >
                                      <v-icon small style="color: red"
                                        >fa-trash</v-icon
                                      >
                                    </v-btn>
                                  </div>
                                </template>
                              </v-data-table>
                              <!-- End Render Detail Datatable -->
                            </v-card>
                          </v-layout>
                        </v-container>
                      </v-content>
                    </td>
                  </template>
                </v-data-table>
                <!-- End Render Headers Datatable -->
              </v-card>
              <v-dialog v-model="functionModal" max-width="50%">
                <v-card>
                  <v-card-title>
                    <span class="text-h5">Akses</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <!-- Render Function Datatable -->
                      <v-card-title>
                        <v-spacer></v-spacer>
                        <v-text-field
                          v-model="functionSearch"
                          append-icon="mdi-magnify"
                          label="Cari"
                          single-line
                          hide-details
                        ></v-text-field>
                      </v-card-title>
                      <v-data-table
                        data-app
                        :headers="v_headers_function"
                        :items="v_items_function"
                        :footer-props="{
                          showFirstLastPage: true,
                          firstIcon: 'mdi-skip-backward',
                          lastIcon: 'mdi-skip-forward',
                          prevIcon: 'mdi-skip-previous',
                          nextIcon: 'mdi-skip-next',
                        }"
                        :value="functionSelectedRows"
                        class="elevation-1"
                        item-key="function_id"
                        :search="functionSearch"
                        v-model="functionSelected"
                        no-data-text="Tidak ada data."
                      >
                        <!-- Change Rendered item.action -->
                        <template v-slot:[`item.action`]="{ item }">
                          <div class="align-self-center">
                            <v-btn
                              color="primary"
                              elevation="5"
                              small
                              class=""
                              @click="
                                showFunctionFeatureModal(item.function_id)
                              "
                              justify="center"
                            >
                              <v-icon small style="color: blue">fa-edit</v-icon>
                            </v-btn>
                          </div>
                        </template>
                      </v-data-table>

                      <!-- End Render Function Datatable -->
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      class="mr-4"
                      small
                      @click="functionModal = false"
                      style="background-color: white; color: black"
                    >
                      <v-icon left>mdi-close</v-icon> Tutup
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <v-dialog v-model="functionFeatureModal" max-width="50%">
                <v-card>
                  <v-card-title>
                    <span class="text-h5">Akses Fitur</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <!-- Render Function Datatable -->
                      <v-card-title>
                        <v-spacer></v-spacer>
                        <v-text-field
                          v-model="functionFeatureSearch"
                          append-icon="mdi-magnify"
                          label="Cari"
                          single-line
                          hide-details
                        ></v-text-field>
                      </v-card-title>
                      <v-data-table
                        data-app
                        :headers="v_headers_function_feature"
                        :items="v_items_function_feature"
                        :footer-props="{
                          showFirstLastPage: true,
                          firstIcon: 'mdi-skip-backward',
                          lastIcon: 'mdi-skip-forward',
                          prevIcon: 'mdi-skip-previous',
                          nextIcon: 'mdi-skip-next',
                        }"
                        :value="functionFeatureSelectedRows"
                        class="elevation-1"
                        show-select
                        item-key="feature_id"
                        :search="functionFeatureSearch"
                        v-model="functionFeatureSelected"
                        no-data-text="Tidak ada data."
                      >
                      </v-data-table>

                      <!-- End Render Function Datatable -->
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      class="mr-4"
                      small
                      v-on:click="funcFeatStore()"
                      style="background-color: #0d417a; color: white"
                    >
                      <v-icon left>mdi-content-save</v-icon> Simpan
                    </v-btn>
                    <v-btn
                      class="mr-4"
                      small
                      @click="functionFeatureModal = false"
                      style="background-color: white; color: black"
                    >
                      <v-icon left>mdi-close</v-icon> Tutup
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.v-data-table {
  line-height: 1.2 !important;
}
.v-data-table >>> thead {
  font-size: 0.8 !important;
  background-color: #ccd0dd !important;
}
.v-input >>> .v-label {
  font-size: 12px !important;
  line-height: 10px !important;
}
.v-text-field {
  padding-top: 0px !important;
  margin-top: 14px !important;
}
.v-text-field >>> input {
  padding: 0px 0px 6px !important;
  line-height: 10px !important;
  font-size: 12px !important;
}
.v-text-field >>> .v-label {
  font-size: 12px !important;
  font-weight: bold !important;
}
.v-input {
  font-size: 12px !important;
}
.v-input >>> .v-label {
  font-size: 12px !important;
  line-height: 10px !important;
}
.theme--light >>> .v-messages {
  color: red !important;
}
</style>
<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
import { create } from "apisauce";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "user",
  data() {
    return {
      headersExpand: [],
      functionModal: false,
      functionFeatureModal: false,
      alert: false,
      alert_name: "",
      isLoading: false,
      fullPage: true,
      selected_role_id: 0,
      selected_function_id: 0,

      // Headers Datatable

      search: "",
      selected: [],
      selectedRows: [],
      v_options: {},
      v_totalItems: 0,
      v_headers: [
        {
          text: "Nama Peran",
          align: "left",
          sortable: false,
          value: "role_name",
        },
        {
          text: "Akses",
          align: "center",
          sortable: false,
          value: "assign",
        },
        {
          text: "Dibuat Oleh",
          align: "left",
          sortable: false,
          value: "created_by",
        },
        {
          text: "Tanggal Dibuat",
          align: "center",
          sortable: false,
          value: "created_dt",
        },
        {
          text: "Diubah Oleh",
          align: "left",
          sortable: false,
          value: "changed_by",
        },
        {
          text: "Tanggal Diubah",
          align: "center",
          sortable: false,
          value: "changed_dt",
        },
      ],
      v_items: [],

      // End Headers Datatable

      // Detail Datatable

      detailSearch: "",
      detailSelected: [],
      detailSelectedRows: [],
      v_headers_detail: [
        {
          text: "Nama Fungsi",
          align: "left",
          sortable: false,
          value: "function_name",
        },
        {
          text: "Fungsi Kendali",
          align: "left",
          sortable: false,
          value: "function_controller",
        },
        {
          text: "Aksi",
          align: "center",
          sortable: false,
          value: "action",
        },
      ],
      v_items_detail: [],

      // End Detail Datatable

      // Function Datatable

      functionSearch: "",
      functionSelected: [],
      functionSelectedRows: [],
      v_headers_function: [
        {
          text: "Nama Fungsi",
          align: "left",
          sortable: false,
          value: "function_name",
        },
        {
          text: "Fungsi Kendali",
          align: "left",
          sortable: false,
          value: "function_controller",
        },
        {
          text: "Aksi",
          align: "center",
          sortable: false,
          value: "action",
        },
      ],
      v_items_function: [],

      // End Function Datatable

      // Function Feature Datatable
      functionFeatureSearch: "",
      functionFeatureSelected: [],
      functionFeatureSelectedRows: [],
      v_headers_function_feature: [
        {
          text: "Nama Fitur",
          align: "left",
          sortable: false,
          value: "feature_name",
        },
        {
          text: "Deskripsi Fitur",
          align: "left",
          sortable: false,
          value: "feature_description",
        },
        {
          text: "Tipe Fitur",
          align: "left",
          sortable: false,
          value: "feature_element_type",
        },
      ],
      v_items_function_feature: [],

      // End Function Datatable

      function_feature: [],
    };
  },
  watch: {
    v_options: {
      handler() {
        this.getData();
      },
      deep: true,
    },
    functionModal(visible) {
      if (!visible) {
        this.selected_role_id = 0;
      }
    },
    functionFeatureModal(visible) {
      if (!visible) {
        this.v_items_function_feature = [];
        this.functionFeatureSelected = [];
        this.selected_function_id = 0;
      }
    },
  },
  async mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Manajemen Pengguna", route: "" },
      { title: "Hak Akses" }
    ]);
    this.getAuthModule();
    this.getFunctionFeature();
    this.getData();
  },
  methods: {
    async getData() {
      this.isLoading = true;

      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });

      await apiSauce
        .get("/modulepaged", {
          sizePerPage: this.v_options.itemsPerPage,
          page: this.v_options.page,
          sortField: this.v_options.sortBy[0],
          sortOrder: this.v_options.sortDesc[0] ? "DESC" : "ASC",
          search: this.search,
          company_id: localStorage.p_company_id,
        })
        .then((response) => response.data)
        .then((response) => {
          this.isLoading = false;
          if (response.code == 200) {
            this.v_items = response.data;
            this.v_totalItems = response.total;
            this.headersExpand = [];
          } else if (response.code == 406) {
            Swal.fire({
              title: response.title,
              text: response.message,
              icon: response.icon,
              heightAuto: false,
            });
            localStorage.id_token = "";
            this.$router.push("/login");
          } else {
            console.log("err");
          }
        });
    },

    async getFunctionFeature() {
      this.isLoading = true;

      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });

      setTimeout(() => {
        apiSauce
          .get("/functionfeature", {
            role_id: localStorage.p_role_id,
            function_id: localStorage.p_function_id,
            company_id: localStorage.p_company_id,
          })
          .then((response) => response.data)
          .then((response) => {
            this.isLoading = false;
            if (response.code == 200) {
              // console.log(response)
              this.function_feature = response.data;
            } else if (response.code == 406) {
              Swal.fire({
                title: response.title,
                text: response.message,
                icon: response.icon,
                heightAuto: false,
              });
              localStorage.id_token = "";
              this.$router.push("/login");
            } else {
              console.log("err");
            }
          });
      }, 100);
    },

    async deleteFunction(role_id, function_id) {
      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });
      await apiSauce
        .post("/module/deletefunc", {
          role_id: role_id,
          function_id: function_id,
          company_id: localStorage.p_company_id,
        })
        .then((response) => response.data)
        .then((response) => {
          Swal.fire({
            title: response.title,
            text: response.message,
            icon: response.icon,
            heightAuto: false,
          });
          if (response.code == 200) {
            this.selected_role_id = role_id;
          } else if (response.code == 406) {
            localStorage.id_token = "";
            this.$router.push("/login");
          } else {
            console.log("err");
          }
        });
    },
    confirmRemoveFunction(role_id, function_id) {
      Swal.fire({
        title: "Konfirmasi",
        text: "Anda yakin ingin menghapus data ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Hapus",
        cancelButtonText: "Tutup",
      }).then((result) => {
        if (result.isConfirmed) {
          this.selected_role_id = role_id;
          this.deleteFunction(role_id, function_id);
          this.getDataFunctionDetail();
        }
      });
    },
    showDetails({ item, value }) {
      if (value) {
        this.selected_role_id = item.role_id;
        this.getDataFunctionDetail();
      } else {
        this.v_items_detail = [];
        this.selected_role_id = 0;
      }
    },
    async getDataFunctionDetail() {
      this.isLoading = true;

      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });

      await apiSauce
        .get(`/module/func/${this.selected_role_id}`)
        .then((response) => response.data)
        .then((response) => {
          if (response.code == 200) {
            this.v_items_detail = response.data;
          } else if (response.code == 406) {
            Swal.fire({
              title: response.title,
              text: response.message,
              icon: response.icon,
              heightAuto: false,
            });
            localStorage.id_token = "";
            this.$router.push("/login");
          } else {
            console.log("err");
          }
          this.isLoading = false;
        });
    },

    async showFunctionModal(role_id) {
      this.functionModal = true;
      this.selected_role_id = role_id;

      if (this.v_items_function.length == 0) {
        this.isLoading = true;

        const apiSauce = create({
          baseURL: this.$base_url,
          headers: {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json;charset",
            Authorization: "Bearer " + localStorage.id_token,
          },
        });

        await apiSauce
          .get(`/module/funcpage`, {
            company_id: localStorage.p_company_id,
          })
          .then((response) => response.data)
          .then((response) => {
            if (response.code == 200) {
              this.v_items_function = response.data;
            } else if (response.code == 406) {
              Swal.fire({
                title: response.title,
                text: response.message,
                icon: response.icon,
                heightAuto: false,
              });
              localStorage.id_token = "";
              this.$router.push("/login");
            } else {
              console.log("err");
            }
            this.isLoading = false;
          });
      }
    },

    async showFunctionFeatureModal(function_id) {
      this.functionFeatureModal = true;
      this.isLoading = true;

      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });

      setTimeout(() => {
        apiSauce
          .post("/module/feat", {
            role_id: this.selected_role_id,
            function_id: function_id,
            company_id: localStorage.p_company_id,
          })
          .then((response) => response.data)
          .then((response) => {
            this.isLoading = false;
            if (response.code == 200) {
              this.v_items_function_feature = response.data;
              this.selected_function_id = function_id;

              const selected_feature = [];
              this.v_items_function_feature.forEach((item) => {
                if (item.feature_checklist) {
                  selected_feature.push(item);
                }
              });

              this.functionFeatureSelected = selected_feature;
            } else if (response.code == 406) {
              Swal.fire({
                title: response.title,
                text: response.message,
                icon: response.icon,
                heightAuto: false,
              });
              localStorage.id_token = "";
              this.$router.push("/login");
            } else {
              console.log("err");
            }
          });
      }, 100);
    },

    async funcFeatStore() {
      const role_id = this.selected_role_id;
      const function_id = this.selected_function_id;

      if (role_id && function_id) {
        this.isLoading = true;

        const funcfeat = [];

        this.functionFeatureSelected.forEach((item) => {
          if (item.feature_id) {
            funcfeat.push({ value: item.feature_id });
          }
        });

        const res = {
          role_id: role_id,
          function_id: function_id,
          feature_id: funcfeat,
          created_by: localStorage.p_username,
          company_id: localStorage.p_company_id,
        };

        const apiSauce = create({
          baseURL: this.$base_url,
          headers: {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json;charset",
            Authorization: "Bearer " + localStorage.id_token,
          },
        });

        await apiSauce
          .post("/module/assignfunc", {
            res: JSON.stringify(res),
          })
          .then((response) => response.data)
          .then((response) => {
            this.isLoading = false;
            Swal.fire({
              title: response.title,
              text: response.message,
              icon: response.icon,
              heightAuto: false,
            });
            if (response.code == 200) {
              this.headersExpand = [];
              this.functionFeatureModal = false;
              this.functionModal = false;
            } else if (response.code == 406) {
              localStorage.id_token = "";
              this.$router.push("/login");
            } else {
              console.log("err");
            }
          });
      }
    },

    editHandler(role_id, function_id) {
      this.selected_role_id = role_id;
      this.showFunctionFeatureModal(function_id);
    },

    async getAuthModule() {
      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });
      await apiSauce
        .post("/authModule", {
          controller: "features",
          role_id: localStorage.p_role_id,
          company_id: localStorage.p_company_id
        })
        .then((response) => response.data)
        .then((response) => {
          this.isLoading = false;
          if (response.code !== 200) {
            Swal.fire({
              title: "Unauthorized",
              text: "Dont have access this page!",
              icon: "error",
              heightAuto: false,
            });
            this.$router.push("/404");
          }
        });
    },
  },
  props: {
    bodyClass: String,
    bodyFit: Boolean,
    bodyFluid: Boolean,
  },
  components: {
    Loading,
  },
  computed: {},
};
</script>
