<template>
  <div data-app>
    <!-- LOADER -->
    <loading :active="isLoading" :can-cancel="true" :is-full-page="fullPage" />
    <!-- END LOADER -->
    <div class="row">
      <div class="col-md-12">
        <div class="card card-custom gutter-b">
          <!-- <div class="card-header">
            <div class="card-title">
              <slot name="title"></slot>
              <h3 class="card-label">
                {{ header_state }}
              </h3>
            </div>
            <div class="card-toolbar">
              <slot name="toolbar"></slot>
            </div>
          </div> -->
          <div
            class="card-body"
            v-bind:class="{
              bodyClass,
              'body-fit': bodyFit,
              'body-fluid': bodyFluid,
            }"
          >
            <slot name="body"></slot>
            <div class="row">
              <div class="col-md-6">

              
                <v-form ref="form" lazy-validation>
                  <v-text-field
                    :counter="100"
                    maxlength="100"
                    :rules="form_requirement.sysNamaPemasok"
                    label="Nama Pemasok"
                    v-model="supplier_nm"
                    required
                  >
                    <template #label>Nama Pemasok <span class="required">*</span></template>
                  </v-text-field>
                  <v-textarea
                    :counter="255"
                    maxlength="255"
                    :rules="form_requirement.sysAlamat"
                    label="Alamat"
                    v-model="supplier_address"
                    required
                  >
                    <template #label>Alamat <span class="required">*</span></template>
                  </v-textarea>
                  <v-text-field
                    :counter="20"
                    maxlength="20"
                    label="No. Telepon"
                    :rules="form_requirement.sysPhone"
                    v-model="supplier_phone"
                    required
                    @keypress="isNumber($event)"
                  >
                    <template #label>No.Telepon <span class="required">*</span></template>
                  </v-text-field>

                  <br />

                  <v-btn
                    class="mr-4"
                    small
                    v-on:click="store()"
                    style="background-color: #0d417a; color: white"
                  >
                    <v-icon left>mdi-content-save</v-icon> Simpan
                  </v-btn>
                  <v-btn
                    class="mr-4"
                    small
                    v-on:click="cancelstore()"
                    style="background-color: white; color: black"
                  >
                    <v-icon left>mdi-close</v-icon> Batal
                  </v-btn>
                </v-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.v-text-field {
  padding-top: 0px !important;
  margin-top: 14px !important;
}
.v-text-field >>> input {
  padding: 0px 0px 6px !important;
  line-height: 10px !important;
  font-size: 12px !important;
}
.v-text-field >>> .v-label {
  font-size: 12px !important;
  font-weight: bold !important;
}
.v-input {
  font-size: 12px !important;
}
.v-input >>> .v-label {
  font-size: 12px !important;
  line-height: 10px !important;
}
.theme--light >>> .v-messages {
  color: red !important;
}
</style>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
import { create } from "apisauce";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "store",
  data() {
    return {
      state: "",
      header_state: "",

      // // Component Loader
      isLoading: false,
      fullPage: true,
      // // End Component Loader

      supplier_nm: "",

      isDisable: true,

      form_requirement: {
        sysNamaPemasok: [
          (v) => !!v || "Nama Pemasok harus diisi.",
          (v) =>
            (v && v.length <= 80) ||
            "Nama Pemasok tidak boleh lebih dari 10 karakter.",
        ],
        sysAlamat: [
          (v) => !!v || "Alamat harus diisi",
          (v) =>
            (v && v.length <= 255) ||
            "Alamat tidak boleh lebih dari 100 karakter.",
        ],
        sysPhone: [
          (v) => !!v || "No.Telepon harus diisi.",
          (v) =>
            (v && v.length <= 20) ||
            "No.Telepon tidak boleh lebih dari 20 karakter",
        ],
      },
    };
  },
  async mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Master" },
      { title: "Pemasok", route: "/masterdata/supplier" },
      { title: this.$route.params.id ? "Ubah Pemasok" : "Buat Pemasok" },
    ]);

    if (this.$route.params.id) {
      this.state = "EDIT";
      this.header_state = "Ubah Pemasok";
      this.getDataSupplier(this.$route.params.id);
      this.isDisabled = true;
    } else {
      this.state = "CREATE";
      this.header_state = "Buat Pemasok";
    }
  },
  methods: {
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    async getDataSupplier(supplier_id) {
      this.isLoading = true;
      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });
      await apiSauce
        .get("/supplierget/" + supplier_id)
        .then((response) => response.data)
        .then((response) => {
          if (response.code == 200) {
            this.supplier_id = response.data.supplier_id;
            this.supplier_nm = response.data.supplier_name;
            this.supplier_address = response.data.supplier_address;
            this.supplier_phone = response.data.supplier_phone;
          } else if (response.code == 406) {
            Swal.fire({
              title: "Error",
              text: response.message,
              icon: "error",
              heightAuto: false,
            });
            localStorage.id_token = "";
            this.$router.push("/login");
          } else {
            console.log("err");
          }

          this.isLoading = false;
        });
    },

    async store() {
      if (this.supplier_nm === "") {
        this.$refs.form.validate();
        this.snackbar = true;
      } else {
        this.isLoading = true;
        const apiSauce = create({
          baseURL: this.$base_url,
          headers: {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json;charset",
            Authorization: "Bearer " + localStorage.id_token,
          },
        });
        if (this.state === "CREATE") {
          await apiSauce
            .post("/suppliercreate", {
              supplier_name: this.supplier_nm,
              supplier_address: this.supplier_address,
              supplier_phone: this.supplier_phone,
              created_by: localStorage.p_username,
              company_id: localStorage.p_company_id,
            })
            .then((response) => response.data)
            .then((response) => {
              this.isLoading = false;
              Swal.fire({
                title: response.title,
                text: response.message,
                icon: response.icon,
                heightAuto: false,
              });
              if (response.code == 200) {
                // console.log(response)
                this.$router.push({ path: "/masterdata/supplier" });
              } else if (response.code == 406) {
                localStorage.id_token = "";
                this.$router.push("/login");
              } else {
                console.log("err");
              }
            });
        } else {
          await apiSauce
            .post("/supplierupdate", {
              supplier_id: this.supplier_id,
              supplier_name: this.supplier_nm,
              supplier_address: this.supplier_address,
              supplier_phone: this.supplier_phone,
              created_by: localStorage.p_username,
            })
            .then((response) => response.data)
            .then((response) => {
              this.isLoading = false;
              Swal.fire({
                title: response.title,
                text: response.message,
                icon: response.icon,
                heightAuto: false,
              });
              if (response.code == 200) {
                // console.log(response)
                this.$router.push({ path: "/masterdata/supplier" });
              } else if (response.code == 406) {
                localStorage.id_token = "";
                this.$router.push("/login");
              } else {
                console.log("err");
              }
            });
        }
      }
    },
    cancelstore() {
      this.$router.push({ path: "/masterdata/supplier" });
    },
  },
  props: {
    bodyClass: String,
    bodyFit: Boolean,
    bodyFluid: Boolean,
  },
  components: {
    Loading,
  },
  computed: {},
};
</script>
