<template>
  <div id="app" data-app>
    <!-- LOADER -->
    <loading :active="isLoading" :can-cancel="true" :is-full-page="fullPage" />
    <!-- END LOADER -->
    <div class="row">
      <div class="col-md-12">
        <div class="card card-custom gutter-b">
          <!-- <div class="card-header">
            <div class="card-title">
              <slot name="title"></slot>
              <h3 class="card-label">Pemasok</h3>
            </div>
            <div class="card-toolbar">
              <slot name="toolbar"></slot>
            </div>
          </div> -->
          <div
            class="card-body"
            v-bind:class="{
              bodyClass,
              'body-fit': bodyFit,
              'body-fluid': bodyFluid,
            }"
          >
            <slot name="body"></slot>
            <v-alert
              type="warning"
              style="background-color: #f5b14c"
              v-model="alert"
              border="bottom"
              elevation="2"
            >
              {{ alert_name }}
            </v-alert>

            <!-- section filtering -->
            <div class="container">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-model="searchCriteria.sc_supplier_nm"
                    label="Nama Pemasok"
                    autofocus
                  ></v-text-field>
                </v-col>
              </v-row>
            </div>
            <!-- end sec filtering -->

            <div class="text-right">
              <v-btn
                v-for="items in function_feature"
                :key="items.feature_id"
                class="mr-2 initial-page-button"
                small
                v-on:click="btn_handler(items.feature_element)"
                :style="items.feature_element_class"
              >
                <v-icon left>{{ items.feature_element_icon }}</v-icon>
                {{ items.feature_name }}
              </v-btn>
              <v-btn
                class="mr-2 initial-page-button"
                small
                style="background-color: #237ad9; color: white"
                @click="getData"
              >
                <v-icon left>mdi-magnify</v-icon> Cari
              </v-btn>
              <v-btn
                class="mr-2 initial-page-button"
                small
                style="background-color: #bde6f1; color: #000"
                @click="clear"
              >
                <v-icon left>mdi-cached</v-icon>
                Bersihkan
              </v-btn>
            </div>
            <hr />
            <template>
              <v-card>
                <v-data-table
                  :headers="dataTable.v_headers"
                  :items="dataTable.v_items"
                  :options.sync="dataTable.v_options"
                  :server-items-length="dataTable.v_totalItems"
                  :footer-props="{
                    showFirstLastPage: true,
                    firstIcon: 'mdi-skip-backward',
                    lastIcon: 'mdi-skip-forward',
                    prevIcon: 'mdi-skip-previous',
                    nextIcon: 'mdi-skip-next',
                  }"
                  :items-per-page="10"
                  :value="dataTable.selectedRows"
                  class="elevation-1"
                  item-key="supplier_id"
                  show-select
                  v-model="dataTable.selected"
                  no-data-text="Tidak ada data."
                  scrollY
                >
                  <template v-slot:[`item.created_date`]="props">
                    <p style="text-align: center">
                      {{ props.item.created_date }}
                    </p>
                  </template>
                  <template v-slot:[`item.changed_date`]="props">
                    <p style="text-align: center">
                      {{ props.item.changed_date }}
                    </p>
                  </template>
                </v-data-table>
              </v-card>
            </template>
            <!-- <h5>Selected: {{selected}}</h5> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.v-data-table {
  line-height: 1.2 !important;
  max-width: 100% !important;
}
.v-data-table >>> thead {
  font-size: 0.8 !important;
  background-color: #ccd0dd !important;
}
.v-input >>> .v-label {
  font-size: 12px !important;
  line-height: 10px !important;
}
.v-text-field {
  padding-top: 0px !important;
  margin-top: 14px !important;
}
.v-text-field >>> input {
  padding: 0px 0px 6px !important;
  line-height: 10px !important;
  font-size: 12px !important;
}
.v-text-field >>> .v-label {
  font-size: 12px !important;
  font-weight: bold !important;
}
.v-input {
  font-size: 12px !important;
}
.v-input >>> .v-label {
  font-size: 12px !important;
  line-height: 10px !important;
}
.theme--light >>> .v-messages {
  color: red !important;
}

@media (max-width: 768px) {
  .initial-page-button {
    width: 100%;
    margin-top: 5px;
  }
}
</style>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
import { create, CancelToken } from "apisauce";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "supplier",
  data() {
    return {
      alert: false,
      alert_name: "",
      isLoading: false,
      fullPage: true,
      toast: null,

      // Function Feature Initial
      function_feature: [],

      // Datatable Initial
      dataTable: {
        selected: [],
        selectedRows: [],
        v_options: {},
        v_totalItems: 0,
        v_items: [],
        v_headers: [
          {
            text: "Nama Pemasok",
            align: "left",
            sortable: true,
            value: "supplier_name",
            width: "200px",
          },
          {
            text: "Alamat",
            align: "left",
            sortable: false,
            value: "supplier_address",
            width: "300px",
          },
          {
            text: "Nomor Telepon",
            align: "left",
            sortable: false,
            value: "supplier_phone",
            width: "100px",
          },
          {
            text: "Dibuat Oleh",
            align: "left",
            sortable: false,
            value: "created_by",
            width: "100px",
          },
          {
            text: "Tanggal Buat",
            align: "left",
            sortable: true,
            value: "created_dt",
            width: "200px",
          },
          {
            text: "Diubah Oleh",
            align: "left",
            sortable: false,
            value: "changed_by",
            width: "100px",
          },
          {
            text: "Tanggal Ubah",
            align: "left",
            sortable: true,
            value: "changed_dt",
            width: "200px",
          },
        ],
      },

      // Search Criteria Initial
      searchCriteria: {
        search: "",
        sc_supplier_nm: "",
      },
    };
  },
  watch: {
    "dataTable.v_options": {
      handler() {
        this.getData();
      },
      deep: true,
    },
  },
  mounted() {
    this.toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener("mouseenter", Swal.stopTimer);
        toast.addEventListener("mouseleave", Swal.resumeTimer);
      },
    });

    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Master", route: "/masterdata/supplier" },
      { title: "Pemasok" },
    ]);

    this.getAuthModule();
    this.getFunctionFeature();
  },
  methods: {
    // Button Initialize
    btn_handler(function_element) {
      if (function_element == "btn_create") {
        this.btn_create();
      }
      if (function_element == "btn_edit") {
        this.btn_edit();
      }
      if (function_element == "btn_delete") {
        this.btn_delete();
      }
    },

    btn_create() {
      this.$router.push({ path: "/masterdata/supplier/store" });
    },

    btn_edit() {
      if (this.dataTable.selected.length === 1) {
        const sup_id = this.dataTable.selected[0].supplier_id;
        this.$router.push({
          path: "/masterdata/supplier/store/" + sup_id.toString(),
          //query: { data: this.dataTable.selected[0] }
        });
      } else {
        this.toast.fire({
          icon: "warning",
          title: "Harap pilih satu data untuk diubah.",
        });
      }
    },

    btn_delete() {
      if (this.dataTable.selected.length === 0) {
        this.toast.fire({
          icon: "warning",
          title: "Harap pilih satu atau lebih data untuk dihapus.",
        });
      } else {
        Swal.fire({
          title: "Konfirmasi",
          text: "Apakah anda yakin ingin menghapus data ini?",
          icon: "warning",
          showCancelButton: true,
          cancelButtonText: "Tutup",
          confirmButtonText: "Hapus",
        }).then((result) => {
          if (result.isConfirmed) {
            this.deletedata();
          }
        });
      }
    },

    // Clear Search Criteria
    clear() {
      this.searchCriteria.search = "";
      this.searchCriteria.sc_supplier_nm = "";
      this.dataTable.selected = [];
      this.dataTable.selectedRows = [];

      this.getData();
    },

    async deletedata() {
      const v_supplier_id = [];
      for (var i = 0; i < this.dataTable.selected.length; i++) {
        v_supplier_id.push(this.dataTable.selected[i].supplier_id);
      }

      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });
      await apiSauce
        .get("/supplierdelete", {
          supplier_id: v_supplier_id,
        })
        .then((response) => response.data)
        .then((response) => {
          this.dataTable.selected = [];
          this.dataTable.selectedRows = [];
          Swal.fire({
            title: response.title,
            text: response.message,
            icon: response.icon,
            heightAuto: false,
          });
          if (response.code == 200) {
            this.getData();
          } else if (response.code == 406) {
            localStorage.id_token = "";
            this.$router.push("/login");
          } else {
            console.log("err");
          }
        });
    },

    async getCustomer(val) {
      const apiSauce = create({
        baseURL: this.$base_url,
      });

      this.regionItems.cancelSource = CancelToken.source();

      await apiSauce
        .get("/customergetregion", {
          showAll: "0",
          search: val,
        })
        .then((response) => {
          if (response) {
            if (response.code == 200) {
              this.regionItems.data = response.data;
            }
          }
        });
    },

    async getData() {
      this.isLoading = true;

      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });

      await apiSauce
        .get("/supplierpaged", {
          sizePerPage: this.dataTable.v_options.itemsPerPage,
          page: this.dataTable.v_options.page,
          sortField: this.dataTable.v_options.sortBy[0],
          sortOrder: this.dataTable.v_options.sortDesc[0] ? "DESC" : "ASC",
          search: this.searchCriteria.search,
          sc_supplier_nm: this.searchCriteria.sc_supplier_nm,
          company_id: localStorage.p_company_id,
        })
        .then((response) => response.data)
        .then((response) => {
          this.isLoading = false;
          if (response.code == 200) {
            this.dataTable.v_items = response.data;
            this.dataTable.v_totalItems = response.total;
          } else if (response.code == 406) {
            Swal.fire({
              title: response.title,
              text: response.message,
              icon: response.icon,
              heightAuto: false,
            });
            localStorage.id_token = "";
            this.$router.push("/login");
          } else {
            console.log("err");
          }
        });
    },

    async getFunctionFeature() {
      this.isLoading = true;

      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });

      setTimeout(() => {
        apiSauce
          .get("/functionfeature", {
            role_id: localStorage.p_role_id,
            function_id: localStorage.p_function_id,
            company_id: localStorage.p_company_id,
          })
          .then((response) => response.data)
          .then((response) => {
            this.isLoading = false;
            if (response.code == 200) {
              // console.log(response)
              this.function_feature = response.data;
            } else if (response.code == 406) {
              Swal.fire({
                title: response.title,
                text: response.message,
                icon: response.icon,
                heightAuto: false,
              });
              localStorage.id_token = "";
              this.$router.push("/login");
            } else {
              console.log("err");
            }
          });
      }, 100);
    },

    async getAuthModule() {
      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });
      await apiSauce
        .post("/authModule", {
          controller: "supplier",
          role_id: localStorage.p_role_id,
          company_id: localStorage.p_company_id,
        })
        .then((response) => response.data)
        .then((response) => {
          this.isLoading = false;
          if (response.code !== 200) {
            Swal.fire({
              title: "Unauthorized",
              text: "Dont have access this page!",
              icon: "error",
              heightAuto: false,
            });
            this.$router.push("/404");
          }
        });
    },
  },
  props: {
    bodyClass: String,
    bodyFit: Boolean,
    bodyFluid: Boolean,
  },
  components: {
    Loading,
  },
};
</script>
