<template>
  <div data-app>
    <!-- LOADER -->
     <loading 
      :active="isLoading"
      :can-cancel="true"
      :is-full-page="fullPage"/>
    <!-- END LOADER -->
    <div class="row">
        <div class="col-md-12">
          <div class="card card-custom gutter-b">
            <!-- <div class="card-header" >
              <div class="card-title">
                <slot name="title"></slot>
                <h3 class="card-label">
                  {{header_state}} Pengguna 
                </h3>
              </div>
              <div class="card-toolbar">
                <slot name="toolbar"></slot>
              </div>
            </div> -->
            <div class="card-body" v-bind:class="{ bodyClass,'body-fit': bodyFit, 'body-fluid': bodyFluid }">
              <slot name="body"></slot>
                <v-form ref="form">
                  <div class="row">
                    <div class="col-md-6">
                      <v-text-field
                        :counter="100"
                        :rules="form_requirement.usernameRules"
                        label="Nama Pengguna"
                        v-model="username"
                        required
                        :disabled="isusernameDisabled"
                      ><template #label>Nama Pengguna <span class="required">*</span></template></v-text-field>
                      <v-text-field
                          :counter="100"
                          :rules="form_requirement.emailRules"
                          label="Surel"
                          v-model="email"
                          required
                      ><template #label>Surel <span class="required">*</span></template></v-text-field>
                      <v-text-field
                          :counter="255"
                          :rules="form_requirement.fullnameRules"
                          label="Nama Lengkap"
                          v-model="full_name"
                          required
                      ><template #label>Nama Lengkap <span class="required">*</span></template></v-text-field>
                      <v-text-field
                          :counter="18"
                          :rules="form_requirement.phoneRules"
                          label="Telepon"
                          type="number"
                          v-model="phone"
                          required
                      ><template #label>Telepon <span class="required">*</span></template></v-text-field>
                    </div>
                    <div class="col-md-6">
                      <v-text-field
                        :counter="255"
                        label="Alamat"
                        :rules="form_requirement.address"
                        v-model="address"
                      ></v-text-field>
                      <v-select
                          :items="form_requirement.roleItems"
                          :rules="[v => !!v || 'Peran harus diisi']"
                          label="Peran"
                          item-text="role_name"
                          item-value="role_id"
                          no-data-text="Tidak ada data."
                          v-model="role_id"
                          required
                      ><template #label>Peran <span class="required">*</span></template></v-select>
                      <v-text-field
                          type="password"
                          :rules="form_requirement.passwordRules"
                          label="Kata Sandi"
                          v-model="password"
                          required
                      ><template #label>Kata Sandi <span class="required">*</span></template></v-text-field>
                    </div>
                  </div>
                  <br/>

                  <v-btn class="mr-4" small v-on:click="userstore()" style="background-color:#0d417a; color:white;">
                      <v-icon left>mdi-content-save</v-icon> Simpan
                  </v-btn>
                  <v-btn class="mr-4" small v-on:click="cancelstore()" style="background-color:white; color:black;">
                      <v-icon left>mdi-close</v-icon> Batal
                  </v-btn>
                </v-form>
            </div>
          </div>
        </div>
     </div>
  </div>
  
</template>

<style scoped>
  .v-text-field{
    padding-top: 0px !important;
    margin-top: 14px !important;
  }
  .v-text-field >>> input{
    padding: 0px 0px 6px !important;
    line-height: 10px !important;
    font-size: 12px !important;
  }
  .v-text-field >>> .v-label {
    font-size: 12px !important;
    font-weight: bold !important;
  }
  .v-input {
    font-size: 12px !important;
  }
  .v-input >>> .v-label {
    font-size: 12px !important;
    line-height: 10px !important;
  }
  .theme--light >>> .v-messages {
    color:red !important;
  }
</style>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
import { create } from "apisauce";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
// import KTCodePreview from "@/view/content/CodePreview.vue";

export default {
  name: "store",
   data () {
    return {
        state: '',
        header_state: '',
        toast: null,

        // // Component Loader
        isLoading: false,
        fullPage: true,
        // // End Component Loader

        username: '',
        email: '',
        old_password: '',
        password: '',
        full_name: '',
        phone: '',
        address: '',        
        role_id: '',
        is_active: '',

        isusernameDisabled: true,

        form_requirement: {
            usernameRules: [
                v => !!v || "Nama Pengguna harus diisi",
                v => (v.length <= 100) || "Karakter Nama Pengguna tidak boleh lebih dari 100"
            ],
            emailRules: [
                v => !!v || "Surel harus diisi",
                v => /.+@.+\..+/.test(v) || "Surel harus betul dan sesuai dengan format surel",
                v => (v.length <= 100) || "Karakter Surel tidak boleh lebih dari 100"
            ],
            address: [
                v => (v.length <= 255) || "Karakter Alamat tidak boleh lebih dari 255"
            ],
            passwordRules: [
                v => !!v || "Kata Sandi harus diisi",
                v => (v.length <= 100) || "Karakter Kata Sandi tidak boleh lebih dari 100"
            ],
            fullnameRules: [
                v => !!v || "Nama Lengkap harus diisi",
                v => (v.length <= 255) || "Karakter Nama Lengkap tidak boleh lebih dari 255"
            ],
            phoneRules: [
              v => !!v || "Telepon harus diisi",
                v => (v.length <= 18) || "Karakter Telepon tidak boleh lebih dari 18",
            ],
            roleItems: [],
            isactiveItems: [
                {
                    is_name : "Aktif",
                    is_active : "1",
                },
                {
                    is_name : "Tidak Aktif",
                    is_active : "0",
                },
            ],
        },
    }
  },  
  async mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Manajemen Pengguna", route: "" },
      { title: "Pengguna", route: "/usermanagement/user" },
      { title: this.$route.params.id ? "Ubah Pengguna" : "Buat Pengguna" },
    ]);

    this.toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener("mouseenter", Swal.stopTimer);
        toast.addEventListener("mouseleave", Swal.resumeTimer);
      },
    });

    this.isLoading = true;
    const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          'Authorization': 'Bearer ' + localStorage.id_token
        }
      });
      await apiSauce
      .get("/usergetrole", 
      { 
          company_id: localStorage.p_company_id
      })
      .then(response => response.data)
      .then(response => {
          this.isLoading = false;
        if(response.code == 200){
            this.form_requirement.roleItems = response.data;            
        }else if(response.code == 406){
          localStorage.id_token = "";
          this.$router.push('/login');
        }else{
            console.log('err')
        }              
      });

    const theArray = this.$route.query.data;
    // console.log(theArray)
    if(typeof theArray === 'undefined' || theArray === '[object Object]') {
        // console.log('CREATE');
        this.state = "CREATE";
        this.header_state = "Buat ";
        this.isusernameDisabled = false;
    }else{
        // console.log('EDIT');
        // console.log(theArray);
        this.state = "EDIT";
        this.header_state = "Ubah ";
        this.username = theArray.username;
        this.email = theArray.user_email;
        this.old_password = theArray.password;
        this.password = theArray.password;
        this.full_name = theArray.full_name;
        this.phone = theArray.phone;
        this.address = theArray.address;
        this.role_id = theArray.role_id.toString();
        this.is_active = theArray.is_active.toString();
    }
  },
  methods: {
      async userstore(){
        // console.log(this.$refs.form.validate())
        // if (this.$refs.form.validate() === false) {
        if(
            this.username === '' ||
            this.email === '' ||
            this.password === '' ||
            this.full_name === '' ||
            this.phone === ''
        ){
            this.$refs.form.validate();
            this.snackbar = true;
        }else if(this.$refs.form.validate() == true){
            this.isLoading = true;
            const apiSauce = create({
                baseURL: this.$base_url,
                headers: {
                    "Access-Control-Allow-Origin": "*",
                    "Content-Type": "application/json;charset",
                    'Authorization': 'Bearer ' + localStorage.id_token
                },
            });
            if(this.state === "CREATE"){
                await apiSauce
                .post("/usercreate", 
                { 
                    username: this.username,
                    email: this.email,
                    full_name: this.full_name,
                    password: this.password,
                    phone: this.phone,
                    address: this.address,
                    role_id: this.role_id,
                    is_active: this.is_active,
                    created_by: localStorage.p_username,
                    company_id: localStorage.p_company_id,
                })
                .then(response => response.data)
                .then(response => {
                    this.isLoading = false;
                    Swal.fire({
                      title: response.title,
                      text: response.message,
                      icon: response.icon,
                      heightAuto: false,
                    });
                    if(response.code == 200){
                        // console.log(response)
                        this.$router.push({ path: '/usermanagement/user' })
                    }else if(response.code == 406){                
                        localStorage.id_token = "";
                        this.$router.push('/login');
                    }else{
                        console.log('err')
                    }                
                });
            }else{
                await apiSauce
                .post("/userupdate", 
                { 
                    username: this.username,
                    email: this.email,
                    full_name: this.full_name,
                    password: this.password,
                    old_password: this.old_password,
                    phone: this.phone,
                    address: this.address,
                    role_id: this.role_id,
                    is_active: this.is_active,
                    created_by: localStorage.p_username,
                    company_id: localStorage.p_company_id,
                })
                .then(response => response.data)
                .then(response => {
                    this.isLoading = false;
                    Swal.fire({
                      title: response.title,
                      text: response.message,
                      icon: response.icon,
                      heightAuto: false,
                    });
                    if(response.code == 200){
                        // console.log(response)
                        this.$router.push({ path: '/usermanagement/user' })
                    }else if(response.code == 406){                
                        localStorage.id_token = "";
                        this.$router.push('/login');
                    }else{
                        console.log('err')
                    }                
                });
            }
        } else {
          this.toast.fire({
            icon: 'error',
            title: "Periksa kembali data yang diisikan",
          });
        }
      },
      cancelstore(){
        this.$router.push({ path: '/usermanagement/user' })
      }
  },
  props: {
      bodyClass: String,
      bodyFit: Boolean,
      bodyFluid: Boolean,
  },
  components: {
    Loading,
    // KTCodePreview
  },
  computed :{
    
  },
};
</script>
