<template>
  <div>
    <!-- LOADER -->
     <loading 
      :active="isLoading"
      :can-cancel="true"
      :is-full-page="fullPage"/>
    <!-- END LOADER -->
    <div class="row">
        <div class="col-md-12">
          <div class="card card-custom gutter-b">
            <div class="card-body" v-bind:class="{ bodyClass,'body-fit': bodyFit, 'body-fluid': bodyFluid }">
              <slot name="body"></slot>
              <div class="container">
                <v-row>
                  <v-col cols="12" md="6">
                    <v-text-field
                      v-model="search"
                      label="Nama Lengkap"
                      autofocus
                    ></v-text-field>
                  </v-col>
                </v-row>
              </div>
               <div class="text-right">
                <v-btn 
                v-for="items in function_feature" :key="items.feature_id" 
                class="mr-2" 
                small
                v-on:click="btn_handler(items.feature_element)" 
                :style="items.feature_element_class">
                  <v-icon left>{{items.feature_element_icon}}</v-icon> {{items.feature_name}}
                </v-btn>
                <v-btn
                  class="mr-2 initial-page-button"
                  small
                  style="background-color: #237ad9; color: white"
                  @click="getData"
                >
                  <v-icon left>mdi-magnify</v-icon> Cari
                </v-btn>
                <v-btn
                  class="mr-2 initial-page-button"
                  small
                  style="background-color: #bde6f1; color: #000"
                  @click="clear"
                >
                  <v-icon left>mdi-cached</v-icon>
                  Bersihkan
                </v-btn>
              </div>
              <hr/>
              <template>
                <v-card>
                  <v-data-table 
                    data-app
                    :headers="v_headers"
                    :items="v_items"
                    :footer-props="{
                      showFirstLastPage: true,
                      firstIcon: 'mdi-skip-backward',
                      lastIcon: 'mdi-skip-forward',
                      prevIcon: 'mdi-skip-previous',
                      nextIcon: 'mdi-skip-next',
                    }"
                    :items-per-page="10"
                    :value="selectedRows"
                    class="elevation-1"
                    item-key="username"
                    no-data-text="Tidak ada data."
                    multi-sort
                    show-select
                    v-model="selected"
                    @click:row="rowClicked"
                  >
                  </v-data-table>
                </v-card>
              </template>
            </div>
          </div>
        </div>
     </div>
  </div>
</template>

<style scoped>
  .v-data-table {
    line-height: 1.2 !important;
  }
  .v-data-table >>> thead {
      font-size: 0.8 !important;
      background-color: #ccd0dd !important;
  }
  .v-input >>> .v-label {
    font-size: 12px !important;
    line-height: 10px !important;
  }
  .v-text-field{
    padding-top: 0px !important;
    margin-top: 14px !important;
  }
  .v-text-field >>> input{
    padding: 0px 0px 6px !important;
    line-height: 10px !important;
    font-size: 12px !important;
  }
  .v-text-field >>> .v-label {
    font-size: 12px !important;
    font-weight: bold !important;
  }
  .v-input {
    font-size: 12px !important;
  }
  .v-input >>> .v-label {
    font-size: 12px !important;
    line-height: 10px !important;
  }
  .theme--light >>> .v-messages {
    color:red !important;
  }

  @media (max-width: 768px) {
    .initial-page-button {
        width:100%;
        margin-top: 5px;
    }
  }
</style>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
import { create } from "apisauce";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import Vue from "vue";
import JsonExcel from "vue-json-excel";
import jsPDF from 'jspdf'
import 'jspdf-autotable'
// import KTCodePreview from "@/view/content/CodePreview.vue";

Vue.component("downloadExcel", JsonExcel);

export default {
  name: "user",
   data () {
    return {
      alert: false,
      alert_name: '',
      toast: null,

      // // Component Loader      
      isLoading: false,
      fullPage: true,
      // // End Component Loader

      // // Generate Header Datatable
      search: '',
      selected: [],
      selectedRows: [],
      v_headers: [
        {
          text: 'Nama Pengguna',
          align: 'left',
          sortable: false,
          value: 'username',
        },
        {
          text: 'Surel',
          align: 'left',
          sortable: false,
          value: 'user_email',
        },
        {
          text: 'Nama Lengkap',
          align: 'left',
          sortable: false,
          value: 'full_name',
          width: '200px',
        },
        {
          text: 'Telepon',
          align: 'left',
          sortable: false,
          value: 'phone',
        },
        {
          text: 'Peran',
          align: 'left',
          sortable: false,
          value: 'role_name',
          width: '200px',
        },
        {
          text: 'Dibuat Oleh',
          align: 'left',
          sortable: false,
          value: 'created_by',
          width: '100px',
        },
        {
          text: 'Tanggal Dibuat',
          align: 'center',
          sortable: false,
          value: 'created_dt',
          width: '200px',
        },
        {
          text: 'Diubah Oleh',
          align: 'left',
          sortable: false,
          value: 'changed_by',
          width: '100px',
        },
        {
          text: 'Tanggal Diubah',
          align: 'center',
          sortable: false,
          value: 'changed_dt',
          width: '200px',
        },
      ],
      // // End Generate Header Datatable
      
      // // Generate Items Datatable
      v_items: [],
      // // End Generate Items Datatable

      function_feature: [],

      v_header_download: {
        "Username": "username",
        "Email": "email",
        "Full Name": "full_name",
        "Address": "address",
        "Phone": "phone",
        "Role Name": "role_name",
        "Created by": "created_by",
        "Created dt": "created_dt",
        "Changed by": "changed_by",
        "Changed dt": "changed_dt",
      },
    }
  },  
  async mounted() {

    this.getAuthModule();
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Manajemen Pengguna", route: "" },
      { title: "Pengguna", route: "" },
    ]);
    this.toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener("mouseenter", Swal.stopTimer);
        toast.addEventListener("mouseleave", Swal.resumeTimer);
      },
    });
    this.getData();
    this.getFunctionFeature();
  
  },
  methods: {
    // getColor (is_active) {
    //   //  console.log(is_active)
    //   if (is_active === 1) return 'green'
    //   else return 'red'
    // },
    clear() {
      this.search = "";
      
      this.getData();
      this.selected = [];
      this.selectedRows = [];
    },

    btn_handler(function_element){
      if(function_element == "btn_create"){
        this.btn_create();
      }
      if(function_element == "btn_edit"){
        this.btn_edit();
      }
      if(function_element == "btn_delete"){
        this.btn_delete();
      }
      // console.log(function_element);
    },   
    btn_create() {
      this.$router.push({ path: '/usermanagement/user/store' })
    },
    btn_edit(){
      if(this.selected.length === 1){
        // console.log(this.selected)
        this.$router.push({ 
          path: '/usermanagement/user/store/'+this.selected[0].username+'',
          query: { data: this.selected[0] }
        })
      }
      else{
        this.toast.fire({
          icon: "warning",
          title: "Harap pilih satu data untuk diubah.",
        });
      }
    },
    btn_delete(){
      if(this.selected.length === 0){
        this.toast.fire({
          icon: "warning",
          title: "Harap pilih satu atau lebih data untuk dihapus.",
        });
      }else{            
        Swal.fire({
          title: 'Konfimrasi',
          text: 'Apakah anda yakin ingin menghapus data ini?',
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: 'Hapus',
        }).then((result) => {
          if (result.isConfirmed) {
            this.deletedata();
            this.selected = [];
          }
        });
      }      
    },
    async getData(){
      this.isLoading = true;

      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          'Authorization': 'Bearer ' + localStorage.id_token
        }
      });
      await apiSauce
        .get("/usershowall", {company_id: localStorage.p_company_id, search: this.search})
        .then(response => response.data)
        .then(response => {
          this.isLoading = false;
          if(response.code == 200){
            // console.log(response)
            this.v_items = response.data;
          }else if(response.code == 406){
            this.toast.fire({
              icon: response.icon,
              title: response.message,
            });
            localStorage.id_token = "";
            this.$router.push('/login');
          }else{
            console.log('err')
          }          
      });
    },
    async getFunctionFeature(){
      this.isLoading = true;

      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          'Authorization': 'Bearer ' + localStorage.id_token
        }
      });

      setTimeout(() => {
        // console.log(localStorage.p_function_id)
          apiSauce
          .get("/functionfeature", 
          { 
              role_id: localStorage.p_role_id,
              function_id: localStorage.p_function_id,
              company_id: localStorage.p_company_id,
          })
          .then(response => response.data)
          .then(response => {
            this.isLoading = false;
            if(response.code == 200){
              // console.log(response)
              this.function_feature = response.data;
            }else if(response.code == 406){
              this.toast.fire({
                icon: response.icon,
                title: response.message,
              });
              localStorage.id_token = "";
              this.$router.push('/login');
            }else{
              console.log('err')
            }          
        });
      }, 100);
          
    },
    async deletedata(){
      const v_username = [];
      for(var i = 0; i < this.selected.length; i++){
        v_username.push(this.selected[i].username);
      }
      
      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          'Authorization': 'Bearer ' + localStorage.id_token
        }
      });
      await apiSauce
      .get("/userdelete", 
      { 
          username: v_username
      })
      .then(response => response.data)
      .then(response => {
          Swal.fire({
            title: response.title,
            text: response.message,
            icon: response.icon,
            heightAuto: false,
          });
          if(response.code == 200){
              this.getData();
          }else if(response.code == 406){
              localStorage.id_token = "";
              this.$router.push('/login');
          }else{
              console.log('err')
          }                
      });
    },
    rowClicked(row) {
      console.log(row);
    },
    async getAuthModule(){
      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          'Authorization': 'Bearer ' + localStorage.id_token
        }
      });
      await apiSauce
        .post("/authModule", { controller: 'user', role_id: localStorage.p_role_id, company_id: localStorage.p_company_id })
        .then(response => response.data)
        .then(response => {
          this.isLoading = false;
          if(response.code !== 200){
            Swal.fire({
                title: 'Unauthorized',
                text: 'Dont have access this page!',
                icon: 'error',
                heightAuto: false
            });
            this.$router.push('/404');
          }          
      });
    },
    _dowloadPdf(){
      const doc = new jsPDF({
        orientation: "landscape"
      });
      const v_data = [];
      for(var i = 0; i < this.v_items.length; i++){
        // console.log(this.v_items[i])
        v_data.push([
          this.v_items[i].username, 
          this.v_items[i].email, 
          this.v_items[i].full_name, 
          this.v_items[i].address, 
          this.v_items[i].phone, 
          this.v_items[i].role_name, 
          this.v_items[i].created_by,
          this.v_items[i].created_dt,
          this.v_items[i].changed_by,
          this.v_items[i].changed_dt
        ])
      }
      // console.log(v_data);
      doc.autoTable({
        head: [['Username', 'Email', 'Full Name', 'Address', 'Phone', 'Role Name', 'Created by', 'Created dt', 'Changed by', 'Changed dt']],
        body: v_data,
      })
      doc.save('Master User.pdf')
    },
  },
  props: {
      bodyClass: String,
      bodyFit: Boolean,
      bodyFluid: Boolean,
  },
  components: {
    Loading,
    // KTCodePreview
  },
  computed :{
    
  },
};
</script>
