<style>
.v-data-table-header > tr > th > i {
  position: absolute !important;
}

table thead tr th {
  font-size: 0.875rem !important;
}
.row {
  margin-top: -17px;
  margin-bottom: -17px;
}
.required {
  color: red;
  font-weight: bold;
}

.v-data-footer__select {
  font-size: 0.875rem;
}

.v-data-footer__pagination {
  font-size: 0.875rem;
}

.v-label--active {
  font-size: 0.875rem;
}

.money-format-right input {
  text-align: right !important;
  padding: 0px 0px 6px !important;
  line-height: 10px !important;
  font-size: 12px !important;
}

.money-format-right .v-text-field__suffix {
  padding: 0px 0px 6px !important;
  line-height: 10px !important;
  font-size: 12px !important;
}

.money-format-right .v-text-field__prefix {
  padding: 0px 0px 6px !important;
  line-height: 10px !important;
  font-size: 12px !important;
}

.money-format-right label {
  color: #000;
  font-size: 12px !important;
  font-weight: bold !important;
}
</style>

<template>
  <router-view></router-view>
</template>

<style lang="scss">
// 3rd party plugins css
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "~socicon/css/socicon.css";
@import "~animate.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~line-awesome/dist/line-awesome/css/line-awesome.css";
@import "assets/plugins/flaticon/flaticon.css";
@import "assets/plugins/flaticon2/flaticon.css";
@import "assets/plugins/keenthemes-icons/font/ki.css";

// Main demo style scss
@import "assets/sass/style.vue";

// Check documentation for RTL css
// Update HTML with RTL attribute at public/index.html
/*@import "assets/css/style.vue.rtl";*/
</style>
<!-- overide custom css -->

<script>
import { OVERRIDE_LAYOUT_CONFIG } from "@/core/services/store/config.module";

export default {
  name: "MetronicVue",
  mounted() {
    /**
     * this is to override the layout config using saved data from localStorage
     * remove this to use config only from static json (@/core/config/layout.config.json)
     */
    this.$store.dispatch(OVERRIDE_LAYOUT_CONFIG);
  },
};
</script>
