<style>
input[type="text"]:disabled,
input[type="number"]:disabled,
textarea:disabled,
.v-select__selection--disabled {
  color: #262626 !important;
}
</style>
<template>
  <div data-app>
    <!-- LOADER -->
    <loading :active="isLoading" :can-cancel="true" :is-full-page="fullPage" />
    <!-- END LOADER -->

    <div class="row">
      <div class="col-md-12">
        <div class="card card-custom gutter-b">
          <div
            class="card-body"
            v-bind:class="{
              bodyClass,
              'body-fit': bodyFit,
              'body-fluid': bodyFluid,
            }"
          >
            <slot name="body"></slot>
            <v-form ref="form" lazy-validation>
              <v-row>
                <v-col cols="12" md="6">
                  <v-autocomplete
                    v-model="form.supplier_id"
                    :items="cbSupplier.data"
                    :search-input.sync="cbSupplier.filter"
                    :loading="cbSupplier.loading"
                    item-text="supplier_name"
                    item-value="supplier_id"
                    :rules="form_requirement.supplierIdRules"
                    height="25"
                    required
                    @change="supplierChange()"
                    no-data-text="Tidak ada data."
                    :disabled="isDisabled"
                  >
                    <template #label>
                      Nama Pemasok <span class="required">*</span>
                    </template>
                  </v-autocomplete>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="8">
                  <v-data-table
                    :headers="v_headers"
                    :items="v_items"
                    no-data-text="Tidak ada data."
                    class="elevation-1"
                    hide-default-footer
                  >
                    <template v-slot:[`item.criteria_score`]="props">
                      <vue-autonumeric
                        style="
                          font-size: 12px;
                          padding: 5px;
                          cursor: pointer;
                          width: 100%;
                          text-align: right;
                        "
                        v-model="props.item.criteria_score"
                        tag="div"
                        :options="{
                          digitGroupSeparator: '.',
                          decimalCharacter: ',',
                          minimumValue: '0',
                          currencySymbol: '',
                          decimalPlaces: 0,
                          readOnly: true,
                        }"
                      >
                      </vue-autonumeric>
                    </template>
                    <template v-slot:[`item.evaluation_score`]="props">
                      <vue-autonumeric
                        style="
                          font-size: 12px;
                          padding: 5px;
                          cursor: pointer;
                          width: 100%;
                          text-align: right;
                        "
                        :change="calculateEvaluation(props)"
                        v-model="props.item.evaluation_score"
                        tag="div"
                        :options="{
                          digitGroupSeparator: '.',
                          decimalCharacter: ',',
                          minimumValue: '0',
                          maximumValue: '100',
                          decimalPlaces: 0,
                          currencySymbol: '',
                        }"
                      >
                      </vue-autonumeric>
                    </template>
                    <template v-slot:[`item.total_score`]="props">
                      <vue-autonumeric
                        style="
                          font-size: 12px;
                          padding: 5px;
                          cursor: pointer;
                          width: 100%;
                          text-align: right;
                        "
                        v-model="props.item.total_score"
                        tag="div"
                        :options="{
                          readOnly: true,
                          digitGroupSeparator: '.',
                          decimalCharacter: ',',
                          minimumValue: '0',
                          decimalPlaces: 0,
                        }"
                      >
                      </vue-autonumeric>
                    </template>
                    <template v-slot:[`item.criteria_desc`]="props">
                      <v-textarea
                        clear-icon="mdi-close-circle"
                        :counter="255"
                        :disabled="true"
                        v-model="props.item.criteria_desc"
                        rows="2"
                      >
                      </v-textarea>
                    </template>
                    <template v-slot:[`item.criteria_name`]="props">
                      <v-text-field
                        v-model="props.item.criteria_name"
                        :counter="100"
                        :disabled="true"
                      ></v-text-field>
                    </template>
                  </v-data-table>
                </v-col>
              </v-row>
              <v-row>
                <v-col col="12" sm="12" md="4"> </v-col>
                <v-col col="12" sm="12" md="4">
                  <vue-autonumeric
                    style="
                      font-size: 12px;
                      padding: 5px;
                      cursor: pointer;
                      width: 100%;
                      text-align: right;
                    "
                    v-model="form.total_evaluation"
                    tag="div"
                    :options="{
                      readOnly: true,
                      digitGroupSeparator: '.',
                      decimalCharacter: ',',
                      minimumValue: '0',
                      currencySymbol: 'Total Evaluasi : ',
                      allowDecimalPadding: false,
                    }"
                  >
                  </vue-autonumeric>
                </v-col>
              </v-row>
              <v-row>
                <v-col col="12" md="4">
                  <v-textarea
                    clear-icon="mdi-close-circle"
                    :counter="255"
                    label="Deskripsi Evaluasi"
                    :rules="form_requirement.evaluationDescRules"
                    v-model="form.evaluation_desc"
                    rows="2"
                  >
                  </v-textarea>
                </v-col>
              </v-row>
              <v-btn
                class="mr-4"
                small
                v-on:click="store()"
                style="background-color: #0d417a; color: white"
              >
                <v-icon left>mdi-content-save</v-icon> Simpan
              </v-btn>
              <v-btn
                class="mr-4"
                small
                v-on:click="cancelstore()"
                style="background-color: white; color: black"
              >
                <v-icon left>mdi-close</v-icon> Batal
              </v-btn>
            </v-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.righted-input >>> input {
  text-align: right;
}

.v-data-table {
  line-height: 1.2 !important;
}
.v-data-table >>> thead {
  font-size: 0.8 !important;
  background-color: #ccd0dd !important;
}
.v-input >>> .v-label {
  font-size: 12px !important;
  line-height: 10px !important;
}
.v-text-field {
  padding-top: 0px !important;
  margin-top: 14px !important;
}
.v-text-field >>> input {
  padding: 0px 0px 6px !important;
  line-height: 10px !important;
  font-size: 12px !important;
}
.v-text-field >>> .v-label {
  font-size: 12px !important;
  font-weight: bold !important;
}
.v-input {
  font-size: 12px !important;
}
.v-input >>> .v-label {
  font-size: 12px !important;
  line-height: 10px !important;
}
.theme--light >>> .v-messages {
  color: red !important;
}

.v-label {
  color: #000;
}

@media (max-width: 768px) {
  .initial-page-button {
    width: 100%;
    margin-top: 5px;
  }
}
</style>

<script>
// const md5 = require("md5");
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
import { create, CancelToken } from "apisauce";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import VueAutonumeric from '../../../../../src/components/VueAutonumeric.vue';
import "../../../../../src/plugins/vuetify-money.js";
export default {
  name: "rabstore",
  data() {
    return {
      toast: null,
      currentUser: "",
      state: "",
      status_percent: false,
      status_nominal: false,
      header_state: "",
      isLoading: false,
      fullPage: true,
      isDisabled: false,
      allDisabled: false,

      v_items: [],
      v_headers: [
        {
          text: "Nama Kriteria",
          align: "start",
          sortable: false,
          value: "criteria_name",
        },
        {
          text: "Deskripsi Kriteria",
          align: "center",
          sortable: false,
          value: "criteria_desc",
        },
        {
          text: "Bobot Kriteria",
          align: "right",
          sortable: false,
          value: "criteria_score",
        },
        {
          text: "Nilai Evaluasi",
          align: "center",
          sortable: false,
          value: "evaluation_score",
          width: "50px",
        },
        {
          text: "Bobot Evaluasi",
          align: "center",
          sortable: false,
          value: "total_score",
          width: "50px",
        },
      ],

      vm_options: {
        locale: "id-ID",
        prefix: "Rp",
        precision: 2,
        length: 18
      },

      vm_options_percent: {
        locale: "id-ID",
        prefix: "",
        suffix: "%",
        precision: 2,
      },

      vm_properties: {
        class: "money-format-right",
        style: "font-size:12px;",
      },

      cbSupplier: {
        data: [],
        filter: "",
        loading: false,
        cancelSource: null,
      },


      form: {
        evaluation_id: "",
        supplier_id: "",
        total_evaluation: 0,
        evaluation_desc: "",
      },
      
      form_requirement: {
        supplierIdRules: [
          (v) => !!v || "Nama Pemasok harus diisi.",
        ],
        evaluationDescRules: [(v) =>
            v.length <= 255 ||
            "Deskripsi Evaluasi tidak boleh lebih dari 255 karakter."],
      },
    };
  },
  watch: {
  },
  async mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Transaksi" },
      { title: "Evaluasi", route: "/transaction/evaluation" },
      { title: this.$route.params.id ? "Ubah Evaluasi" : "Buat Evaluasi" },
    ]);
    this.toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener("mouseenter", Swal.stopTimer);
        toast.addEventListener("mouseleave", Swal.resumeTimer);
      },
    });
    this.currentUser = localStorage.p_username;

    if (this.$route.params.id) {
      this.state = "EDIT";
      this.header_state = "Ubah Transaksi ";
      this.getDataEvaluation(this.$route.params.id);
      this.isDisabled = true;
    } else {
      this.state = "CREATE";
      this.header_state = "Buat Transaksi ";
      this.evaluation_id = "";
      this.getSupplier();
      this.getCriteria();
    }
  },
  methods: {
    calculateEvaluation(props) {
      const criteria_score = props.item.criteria_score;
      const evaluation_score = props.item.evaluation_score;
      const total_score = criteria_score * evaluation_score;

      this.v_items[props.index].total_score = total_score;

      this.calculateTotalEvaluation();
    },


    async getCriteria() {

      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });

      await apiSauce
        .get("/evaluation/getcriteria", {
          company_id: localStorage.p_company_id
        })
        .then((response) => response.data)
        .then((response) => {
          if (response.code == 200) {
            this.v_items = response.data;
          } else if (response.code == 406) {
            localStorage.id_token = "";
            this.$router.push("/login");
          } else {
            console.log("err");
          }
        });
    },

    async getDataEvaluation(evaluation_no) {
      this.isLoading = true;
      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });
      await apiSauce
        .get("/evaluationget/" + evaluation_no, {
          company_id: localStorage.p_company_id
        })
        .then((response) => response.data)
        .then((response) => {
          if (response.code == 200) {
            // Set Combobox
            this.cbSupplier.data = [
              {
                supplier_id: response.data.supplier_id,
                supplier_name: response.data.supplier_name,
              },
            ];

            this.v_items = response.detail;

            this.form.evaluation_desc = response.data.evaluation_desc;
            this.form.supplier_id = response.data.supplier_id;
            this.form.total_evaluation = response.data.evaluation_score;
            this.form.evaluation_id = response.data.evaluation_id;
          } else if (response.code == 406) {
            Swal.fire({
              title: "Error",
              text: response.message,
              icon: "error",
              heightAuto: false,
            });
            localStorage.id_token = "";
            this.$router.push("/login");
          } else {
            console.log("err");
          }

          this.isLoading = false;
        });
    },

    async store() {
      this.isLoading = true;
      if (this.$refs.form.validate()) {
        const apiSauce = create({
          baseURL: this.$base_url,
          headers: {
            "Access-Control-Allow-Origin": "*",
            "Content-Type":
              "multipart/form-data; charset=utf-8; boundary=" +
              Math.random().toString().substr(2),
            Authorization: "Bearer " + localStorage.id_token,
          },
        });

        const evaluationItems = [];

        this.v_items.forEach((item) => {
          evaluationItems.push({
            criteria_id: item.criteria_id,
            criteria_score: item.criteria_score,
            evaluation_score: item.evaluation_score,
            total_score: item.total_score ? item.total_score : 0
          });
        });

        let formData = new FormData();
        formData.append("supplier_id", this.form.supplier_id);
        formData.append("evaluation_desc", this.form.evaluation_desc);
        formData.append("evaluation_id", this.form.evaluation_id);
        formData.append("evaluation_score", this.form.total_evaluation);
        formData.append("evaluation_items", JSON.stringify(evaluationItems));

        formData.append("created_by", localStorage.p_username);
        formData.append("company_id", localStorage.p_company_id);
        formData.append("state", this.state);

        await apiSauce
          .post("/evaluation/store", formData)
          .then((response) => response.data)
          .then((response) => {
            this.isLoading = false;
            Swal.fire({
              title: response.title,
              text: response.message,
              icon: response.icon,
              heightAuto: false,
            });
            if (response.code == 200) {
              this.$router.push({ path: "/transaction/evaluation" });
            } else if (response.code == 406) {
              localStorage.id_token = "";
              this.$router.push("/login");
            } else {
              console.log("err");
            }
          });
      }

      this.isLoading = false;
    },

    calculateTotalEvaluation() {
      var evaluation = 0;
      this.v_items.forEach((element) => {
        evaluation += parseFloat(element.total_score);
      });

      this.form.total_evaluation = evaluation;
    },

    spphChange() {
      if(this.state == "CREATE") {
        const spphData = this.cbSpph.data.filter(
          (x) => x.spph_no == this.form.spph_no
        );

        this.form.product_id = "";

        if (spphData.length != 0) {
          this.cbCustomer.data = [{
            "customer_id": spphData[0].customer_id,
            "customer_nm": spphData[0].customer_nm
          }];

          this.form.customer_id = spphData[0].customer_id;
        }

        this.getProductCb();
      }
    },

    cancelstore() {
      this.$router.push({ path: "/transaction/evaluation" });
    },

    async getAuthModule() {
      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });
      await apiSauce
        .post("/authModule", {
          controller: "evaluation",
          role_id: localStorage.p_role_id,
          company_id: localStorage.p_company_id,
        })
        .then((response) => response.data)
        .then((response) => {
          this.isLoading = false;
          if (response.code !== 200) {
            Swal.fire({
              title: "Unauthorized",
              text: "Dont have access this page!",
              icon: "error",
              heightAuto: false,
            });
            this.$router.push("/404");
          }
        });
    },

    async getSupplier() {
      this.cbSupplier.loading = true;
      const apiSauce = create({
        baseURL: this.$base_url,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json;charset",
          Authorization: "Bearer " + localStorage.id_token,
        },
      });

      if (this.cbSupplier.cancelSource) {
        this.cbSupplier.cancelSource.cancel("Start new search, stop active search");
      }
      this.cbSupplier.cancelSource = CancelToken.source();

      await apiSauce
        .get(
          "/evaluation/getsupplier",
          {
            company_id: localStorage.p_company_id
          },
          { cancelToken: this.cbSupplier.cancelSource.token }
        )
        .then((response) => response.data)
        .then((response) => {
          if (response) {
            if (response.code == 200) {
              this.cbSupplier.data = response.data;
              this.cbSupplier.cancelSource = null;
            } else if (response.code == 406) {
              // Swal.fire({
              //   title: "Error",
              //   text: response.message,
              //   icon: "error",
              //   heightAuto: false,
              // });
              // localStorage.id_token = "";
              // this.$router.push("/login");
            } else {
              console.log("err");
            }
          }
        })
        .finally(() => {
          this.cbSupplier.loading = false;
        });
    },

  },
  props: {
    bodyClass: String,
    bodyFit: Boolean,
    bodyFluid: Boolean,
  },
  components: {
    Loading,
    VueAutonumeric,
  },
  computed: {
  },
};
</script>
